<section class="about-us">
    <div class="about-us__content">
        <h2 class="about-us__small-heading">
            о нас
        </h2>
        <div class="about-us__large-text">
            Мы обеспечиваем не только гибкую, своевременную и качественную консультационную поддержку, но и оказываем
            поддержкупо внедрению решений
        </div>
        <ul class="about-us__list">
            <li class="about-us__list-item">
                <div class="about-us__card">
                    <h3 class="about-us__card-title">
                        10+
                    </h3>
                    <div class="about-us__card-text">
                        Лет опыта в сфере консалтинга
                    </div>
                </div>
            </li>
            <li class="about-us__list-item">
                <div class="about-us__card">
                    <h3 class="about-us__card-title">
                        >500
                    </h3>
                    <div class="about-us__card-text">
                        Успешных реализованных проектов с масштабными клиентами
                    </div>
                </div>
            </li>
            <li class="about-us__list-item">
                <div class="about-us__card">
                    <h3 class="about-us__card-title">
                        №1
                    </h3>
                    <div class="about-us__card-text">
                        По мнению журнала Business Magazine
                    </div>
                </div>
            </li>
            <li class="about-us__list-item">
                <div class="about-us__card">
                    <h3 class="about-us__card-title">
                        ТОП 50
                    </h3>
                    <div class="about-us__card-text">
                        Входим в список ТОП-50 лучших консалтинговых компаний РФ
                    </div>
                </div>
            </li>
        </ul>
    </div>
</section>