<section class="about">
    <div class="about__bg">
        <div class="about__parallax-wrapper">
            <img src="/images/about.webp" alt="" class="about__image">
        </div>
    </div>
    <div class="about__content">
        <div class="about__top-row">
            <h2 class="about__small-heading">
                О компании
            </h2>
            <div class="about__large-text">
                Наша компания предоставляет  услуги в области консалтинга, управления рисками, а также финансового,
                налогового и юридического консультирования.
            </div>
        </div>
        <div class="about__bottom-row">
            <div class="about__small-text">
                Наши приоритеты — это наша команда и наш подход к предоставлению решений. Мы нацелены на внедрение
                наилучших стратегий для сохранения, работы и приумножения капитала вашего бизнеса. 
            </div>
            <a href="#" class="about__learn-more">
                <span class="about__learn-more-text">
                    Узнать о компании
                </span>
                <span class="about__learn-more-arrow">
                    <svg width="14" height="14" aria-hidden="true">
                        <use xlink:href="#arrow-right"></use>
                    </svg>
                </span>
            </a>
        </div>
    </div>
</section>