<section class="about-header">
    <div class="about-header__bg">
        <div class="about-header__parallax">
            <picture>
                <source srcset="/images/about-header-bg-mobile.webp" media="(max-width: 640px)" />
                <img src="/images/about-header-bg.webp" alt="" class="about-header__bg-image" />
            </picture>
        </div>
    </div>
    <div class="about-header__content">
        <div class="about-header__breadcrumbs">
            <a href="#">
                Главная
            </a>
            <a href="#" class="active">
                Услуги
            </a>
        </div>
        <h1 class="about-header__heading">
            Independent Director
        </h1>
    </div>
</section>