<section class="advantages">
    <div class="advantages__content">
        <div class="advantages__small-text">
            Классическое понимание оказания юридических и консультационных услуг не отвечает современным тенденциям
        </div>
        <div class="advantages__large-text">
            <div class="advantages__large-text-inner">
                <span class="spacer">&nbsp;</span>
                Наше преимущество — это не просто оказание консультаций по всем направлениям конкурентов, но комплексное
                управление проектами и помощь в выстраивании соответствующей функции внутри бизнеса, a также аутсорсинг
                отдельных функций.
            </div>

        </div>
        <ul class="advantages__numbers-list">
            <li class="advantages__numbers-list-item">
                <div class="advantages__numbers-card">
                    <div class="advantages__numbers-card-amount">
                        <span class="advantages__numbers-card-amount-text">
                            10+
                        </span>
                    </div>
                    <div class="advantages__numbers-card-text">
                        от 10 лет опыта имеет каждый наш директор из них не менее 5 в индустрии
                    </div>
                </div>
            </li>
            <li class="advantages__numbers-list-item">
                <div class="advantages__numbers-card">
                    <div class="advantages__numbers-card-amount">
                        <span class="advantages__numbers-card-amount-text">
                            >15
                        </span>
                    </div>
                    <div class="advantages__numbers-card-text">
                        индустриальных секторах реализованы проекты
                    </div>
                </div>
            </li>
            <li class="advantages__numbers-list-item">
                <div class="advantages__numbers-card">
                    <div class="advantages__numbers-card-amount">
                        <span class="advantages__numbers-card-amount-text">
                            >500
                        </span>
                    </div>
                    <div class="advantages__numbers-card-text">
                        проектов реализовано нашими директорами
                    </div>
                </div>
            </li>
        </ul>
    </div>
</section>