<section class="become-part">
    <div class="become-part__content">
        <h2 class="become-part__small-heading">
            карьера
        </h2>
        <div class="become-part__wrapper">
            <div class="become-part__large-text">
                Стань частью команды Independent Director
            </div>
            <div class="become-part__small-text">
                В нашей компании постоянно запускаются новые программы обучения, проходят интересные лекции для
                сотрудников, организовываются встречи. А если ты новичок,то тебя ждут наши наставники и поэтапный
                онбординг.
            </div>
            <a href="#" class="become-part__link">
                <span class="become-part__link-text">
                    Смотреть вакансии
                </span>
                <span class="become-part__link-circle">
                    <svg width="14" height="14" aria-hidden="true">
                        <use xlink:href="#arrow-right"></use>
                    </svg>
                </span>
            </a>
        </div>
    </div>
</section>