<section class="clients">
    <div class="clients__content">
        <div class="clients__top-row">
            <h2 class="clients__small-heading">
                Наши клиенты
            </h2>
            <div class="clients__large-text">
                Каждый день наши клиенты совершают удивительные вещи. Они работают над поиском лекарств от рака,
                путешествуют в космос
            </div>
        </div>
        <div class="clients__slider">
            <div class="swiper">
                <ul class="swiper-wrapper clients__list">
                    <li class="swiper-slide clients__list-item">
                        <a href="#" class="clients__card">
                            <img src="/images/clients/1.svg" alt="" class="clients__card-image">
                        </a>
                    </li>
                    <li class="swiper-slide clients__list-item">
                        <a href="#" class="clients__card">
                            <img src="/images/clients/2.svg" alt="" class="clients__card-image">
                        </a>
                    </li>
                    <li class="swiper-slide clients__list-item">
                        <a href="#" class="clients__card">
                            <img src="/images/clients/3.svg" alt="" class="clients__card-image">
                        </a>
                    </li>
                    <li class="swiper-slide clients__list-item">
                        <a href="#" class="clients__card">
                            <img src="/images/clients/4.svg" alt="" class="clients__card-image">
                        </a>
                    </li>
                    <li class="swiper-slide clients__list-item">
                        <a href="#" class="clients__card">
                            <img src="/images/clients/2.svg" alt="" class="clients__card-image">
                        </a>
                    </li>

                    <li class="swiper-slide clients__list-item">
                        <a href="#" class="clients__card">
                            <img src="/images/clients/1.svg" alt="" class="clients__card-image">
                        </a>
                    </li>

                </ul>
            </div>
        </div>
    </div>
</section>