<section class="competencies">
    <div class="competencies__content">
        <h2 class="competencies__small-heading">
            компетенции
        </h2>
        <div class="competencies__slider">
            <ol class="competencies__list">
                <li class="competencies__list-item">
                    <div class="competencies__card">
                        <h3 class="competencies__card-title">
                            Юридическая экспертиза
                        </h3>
                        <div class="competencies__card-text">
                            Наша команда способна решить задачу в любой юрисдикции мира
                        </div>
                    </div>
                </li>
                <li class="competencies__list-item">
                    <div class="competencies__card">
                        <h3 class="competencies__card-title">
                            Финансовая экспертиза
                        </h3>
                        <div class="competencies__card-text">
                            Помогаем компаниям повысить эффективность процессов и снизить риски финансовых операций
                        </div>
                    </div>
                </li>
                <li class="competencies__list-item">
                    <div class="competencies__card">
                        <h3 class="competencies__card-title">
                            Стратегический косалтинг
                        </h3>
                        <div class="competencies__card-text">
                            Работаем над анализом рынка, конкурентами и изменениями во внешней среде, чтобы помочь выбрать наилучший путь для достижения целей
                        </div>
                    </div>
                </li>
                <li class="competencies__list-item">
                    <div class="competencies__card">
                        <h3 class="competencies__card-title">
                            Выводим на новые рынки
                        </h3>
                        <div class="competencies__card-text">
                            Помогаем найти новые возможности, получить доступ к потенциальным клиентам, которые еще не знакомы с вашим продуктом или услугой
                        </div>
                    </div>
                </li>
                <li class="competencies__list-item">
                    <div class="competencies__card">
                        <h3 class="competencies__card-title">
                            Корпоративное управление
                        </h3>
                        <div class="competencies__card-text">
                            Повышаем эффективность и оптимизируем ключевые управленческие процессы и технологии принятия решений
                        </div>
                    </div>
                </li>
                <li class="competencies__list-item">
                    <div class="competencies__card">
                        <h3 class="competencies__card-title">
                            Риск менеджмент
                        </h3>
                        <div class="competencies__card-text">
                            Компании, стремящиеся к постоянному росту и процветанию, должны быть готовы к различным вызовам и уметь эффективно управлять рисками
                        </div>
                    </div>
                </li>
            </ol>
        </div>
    </div>
</section>