<section class="competition">
  <div class="competition__content">
    <div class="competition__block">
      <h2 class="competition__small-heading">компетенция</h2>
      <div class="competition__arrows">
        <button class="competition__arrow competition__arrow--prev">
          <svg width="14" height="14" aria-hidden="true">
            <use xlink:href="#arrow-right"></use>
          </svg>
        </button>
        <button class="competition__arrow competition__arrow--next">
          <svg width="14" height="14" aria-hidden="true">
            <use xlink:href="#arrow-right"></use>
          </svg>
        </button>
      </div>
    </div>
    <div class="swiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="competition__slide">
            <div class="competition__column">
              <h3 class="competition__slide-title">Аутсорс налоговой, юридической, финансовой функции</h3>
              <div class="competition__navigate">
                <p class="competition__service-text">Заказать услугу</p>
                <a href="" class="competition__service-link">
                  <svg width="14" height="14" aria-hidden="true">
                    <use xlink:href="#arrow-right"></use>
                  </svg>
                </a>
              </div>
            </div>
            <img src="/images/projects-detail/competition-image.png" alt="image" class="competition__slide-image">
          </div>
        </div>
        <div class="swiper-slide">
          <div class="competition__slide">
            <div class="competition__column">
              <h3 class="competition__slide-title">Аутсорс налоговой, юридической, финансовой функции</h3>
              <div class="competition__navigate">
                <p class="competition__service-text">Заказать услугу</p>
                <a href="" class="competition__service-link">
                  <svg width="14" height="14" aria-hidden="true">
                    <use xlink:href="#arrow-right"></use>
                  </svg>
                </a>
              </div>
            </div>
            <img src="/images/projects-detail/competition-image.png" alt="image" class="competition__slide-image">
          </div>
        </div>
        <div class="swiper-slide">
          <div class="competition__slide">
            <div class="competition__column">
              <h3 class="competition__slide-title">Аутсорс налоговой, юридической, финансовой функции</h3>
              <div class="competition__navigate">
                <p class="competition__service-text">Заказать услугу</p>
                <a href="" class="competition__service-link">
                  <svg width="14" height="14" aria-hidden="true">
                    <use xlink:href="#arrow-right"></use>
                  </svg>
                </a>
              </div>
            </div>
            <img src="/images/projects-detail/competition-image.png" alt="image" class="competition__slide-image">
          </div>
        </div>
        <div class="swiper-slide">
          <div class="competition__slide">
            <div class="competition__column">
              <h3 class="competition__slide-title">Аутсорс налоговой, юридической, финансовой функции</h3>
              <div class="competition__navigate">
                <p class="competition__service-text">Заказать услугу</p>
                <a href="" class="competition__service-link">
                  <svg width="14" height="14" aria-hidden="true">
                    <use xlink:href="#arrow-right"></use>
                  </svg>
                </a>
              </div>
            </div>
            <img src="/images/projects-detail/competition-image.png" alt="image" class="competition__slide-image">
          </div>
        </div>
      </div>
    </div>

  </div>
</section>