<section class="competencies">
    <div class="competencies__content">
        <h2 class="competencies__small-heading">
            компетенции
        </h2>
        <div class="competencies__slider">
            <ol class="competencies__list">
                <li class="competencies__list-item">
                    <div class="competencies__card">
                        <h3 class="competencies__card-title">
                            Компетенция первая
                        </h3>
                        <div class="competencies__card-text">
                            Функциональное, интеграционное, регрессионное, автоматизированное тестирование систем банка.
                            Разработка, актуализация и внедрениекорпоративных стратегий
                        </div>
                    </div>
                </li>
                <li class="competencies__list-item">
                    <div class="competencies__card">
                        <h3 class="competencies__card-title">
                            Компетенция вторая
                        </h3>
                        <div class="competencies__card-text">
                            Функциональное, интеграционное, регрессионное, автоматизированное тестирование систем банка.
                            Разработка, актуализация и внедрение корпоративных стратегий
                        </div>
                    </div>
                </li>
                <li class="competencies__list-item">
                    <div class="competencies__card">
                        <h3 class="competencies__card-title">
                            Компетенция третья
                        </h3>
                        <div class="competencies__card-text">
                            Функциональное, интеграционное, регрессионное, автоматизированное тестирование систем банка.
                            Разработка, актуализация и внедрение корпоративных стратегий
                        </div>
                    </div>
                </li>
                <li class="competencies__list-item">
                    <div class="competencies__card">
                        <h3 class="competencies__card-title">
                            Компетенция четвертая
                        </h3>
                        <div class="competencies__card-text">
                            Функциональное, интеграционное, регрессионное, автоматизированное тестирование систем банка.
                            Разработка, актуализация и внедрениекорпоративных стратегий
                        </div>
                    </div>
                </li>
                <li class="competencies__list-item">
                    <div class="competencies__card">
                        <h3 class="competencies__card-title">
                            Компетенция пятая
                        </h3>
                        <div class="competencies__card-text">
                            Функциональное, интеграционное, регрессионное, автоматизированное тестирование систем банка.
                            Разработка, актуализация и внедрение корпоративных стратегий
                        </div>
                    </div>
                </li>
                <li class="competencies__list-item">
                    <div class="competencies__card">
                        <h3 class="competencies__card-title">
                            Компетенция шестая
                        </h3>
                        <div class="competencies__card-text">
                            Функциональное, интеграционное, регрессионное, автоматизированное тестирование систем банка.
                            Разработка, актуализация и внедрениекорпоративных стратегий
                        </div>
                    </div>
                </li>
            </ol>
        </div>
    </div>
</section>