<section class="contacts">
    <div class="contacts__content">
        <div class="contacts__breadcrumbs">
            <a href="#">
                Главная 
            </a>
            <a href="#" class="active">
                Контакты
            </a>
        </div>
        <div class="contacts__wrapper">
            <h1 class="contacts__heading">
                Контакты
            </h1>
            <div class="contacts__top-row">
                <div class="contacts__phone">
                    <h3 class="contacts__phone-title">
                        телефон
                    </h3>
                    <a href="tel:+78432703193" class="contacts__phone-link">
                        +7 (843) 270–31–93
                    </a>
                </div>
                <div class="contacts__social">
                    <h3 class="contacts__social-title">
                        Социальные сети
                    </h3>
                    <ul class="contacts__social-list">
                        <li class="contacts__social-list-item">
                            <a href="#" class="contacts__social-link">
                                <svg width="14" height="14" aria-hidden="true">
                                    <use xlink:href="#vk"></use>
                                </svg>
                            </a>
                        </li>
                        <li class="contacts__social-list-item">
                            <a href="#" class="contacts__social-link">
                                <svg width="14" height="14" aria-hidden="true">
                                    <use xlink:href="#telegram"></use>
                                </svg>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <ul class="contacts__list">
                <li class="contacts__list-item">
                    <div class="contacts__card">
                        <h3 class="contacts__card-title">
                            сотрудничество
                        </h3>
                        <a href="mailto:independent@gmail.com" class="contacts__card-link">independent@gmail.com</a>
                    </div>
                </li>
                <li class="contacts__list-item">
                    <div class="contacts__card">
                        <h3 class="contacts__card-title">
                            карьера
                        </h3>
                        <a href="mailto:career@independent-director.org"
                            class="contacts__card-link">career@independent-director.org</a>
                    </div>
                </li>
                <li class="contacts__list-item">
                    <div class="contacts__card">
                        <h3 class="contacts__card-title">
                            Адрес
                        </h3>
                        <div class="contacts__card-text">
                            Малый Толмачевский пер., 6 стр. 1, Москва, Россия, 119017
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="contacts__map js-map" data-center="55.780533, 49.137849" data-coords="55.780533, 49.137849"
        data-zoom="15" data-pin="/images/pin.svg" data-mobile-center="55.780533, 49.137849" data-mobile-zoom="15">
        <div class="contacts__map-inner js-map-element">

        </div>
    </div>
</section>