<section class="contact-us">
    <div class="contact-us__ticker js-ticker">
        <div class="contact-us__ticker-track js-ticker-track">
            <div class="contact-us__ticker-inner-track js-ticker-inner-track">
                <div class="contact-us__ticker-item">
                    Принять квартиру — легко&nbsp;&nbsp;
                </div>
            </div>
        </div>
    </div>
    <div class="contact-us__content">
        <form action="/" method="POST" class="contact-us__form">
            <div class="contact-us__form-group">
                <h3 class="contact-us__form-group-title">
                    Ваши контактные<br> данные
                </h3>
                <div class="contact-us__form-group-content">
                    <div class="contact-us__form-fields">
                        <div class="contact-us__form-field">
                            <input type="text" class="contact-us__form-input" name="your-name" placeholder="ФИО *"
                                required="">
                        </div>
                        <div class="contact-us__form-field">
                            <input type="email" class="contact-us__form-input" name="your-email" placeholder="ФИО *"
                                required="">
                        </div>
                        <div class="contact-us__form-field">
                            <input type="tel" class="contact-us__form-input" name="your-phone" placeholder="Телефон *"
                                required="">
                        </div>
                    </div>
                </div>
            </div>
            <div class="contact-us__form-group">
                <h3 class="contact-us__form-group-title">
                    Информация<br> о компании
                </h3>
                <div class="contact-us__form-group-content">
                    <div class="contact-us__form-fields">
                        <div class="contact-us__form-field">
                            <input type="text" class="contact-us__form-input" name="your-company"
                                placeholder="Название организации *" required="">
                        </div>
                        <div class="contact-us__form-field">
                            <div class="contact-us__form-field-select">
                                <button class="contact-us__form-field-select-btn">
                                    <span class="contact-us__form-field-select-btn-text">
                                        Выберите отрасль
                                    </span>
                                    <svg width="14" height="14" aria-hidden="true">
                                        <use xlink:href="#select-arrow"></use>
                                    </svg>
                                </button>
                                <div class="contact-us__form-field-select-dropdown">
                                    <div class="contact-us__form-field-select-dropdown-inner">
                                        <label class="contact-us__form-field-select-checkbox">
                                            <input type="radio" name="your-industry"
                                                class="contact-us__form-field-select-checkbox-input" value="industry-1">
                                            <span class="contact-us__form-field-select-checkbox-text">
                                                Отрасль 1
                                            </span>
                                        </label>
                                        <label class="contact-us__form-field-select-checkbox">
                                            <input type="radio" name="your-industry"
                                                class="contact-us__form-field-select-checkbox-input" value="industry-2">
                                            <span class="contact-us__form-field-select-checkbox-text">
                                                Отрасль 2
                                            </span>
                                        </label>
                                        <label class="contact-us__form-field-select-checkbox">
                                            <input type="radio" name="your-industry"
                                                class="contact-us__form-field-select-checkbox-input" value="industry-3">
                                            <span class="contact-us__form-field-select-checkbox-text">
                                                Отрасль 3
                                            </span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="contact-us__form-field contact-us__form-field--fullwidth">
                            <textarea name="your-comment" class="contact-us__form-input"
                                placeholder="Напишите свой запрос"></textarea>
                        </div>

                    </div>
                    <div class="contact-us__form-policy-wrapper">
                        <label class="contact-us__form-file-upload">
                            <input type="text" class="contact-us__form-file-upload-input">
                            <span class="contact-us__form-file-upload-text">
                                Прикрепить файл
                            </span>
                            <span class="contact-us__form-file-upload-plus">
                                <svg width="14" height="14" aria-hidden="true">
                                    <use xlink:href="#plus"></use>
                                </svg>
                            </span>
                        </label>
                        <div class="contact-us__form-policy">
                            Нажимая кнопку “Записаться” вы даёте согласие на <a href="#">обработку ваших персональных
                                данных</a>
                            и соглашаетесь c <a href="#">политикой конфиденциальности</a>
                        </div>
                    </div>
                    <button class="contact-us__form-submit" type="submit">
                        Отправить заявку
                    </button>
                </div>
            </div>
        </form>
    </div>
</section>