<div class="success js-modal" data-lenis-prevent="" id="callback-error">
    <div class="success__inner">
        <button class="success__close js-modal-close">
            <svg width="14" height="14" aria-hidden="true">
                <use xlink:href="#cross"></use>
            </svg>
        </button>
        <h3 class="success__heading">
            Что-то пошло не так
        </h3>

        <button class="success__back-btn js-modal-close">
            <span class="success__back-btn-text-wrapper" data-text="Вернуться на главную">
                <span class="success__back-btn-text">
                    Вернуться на главную
                </span>
            </span>
        </button>
    </div>
</div>