<section class="expertise">
    <div class="expertise__content">
        <div class="expertise__top-row">
            <h2 class="expertise__small-heading">
                наша экспертиза
            </h2>
            <div class="expertise__large-text">
                Трансформация отраслей c помощью нашего адаптивного подхода в экспертизе и партнерстве
            </div>
        </div>

        <div class="expertise__slider">
            <div class="expertise__slider-inner">
                <div class="swiper">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="expertise__slider-card">
                                <div class="expertise__slider-card-image-wrapper">
                                    <img src="/images/expertise.webp" alt="" class="expertise__slider-card-image">
                                </div>
                                <div class="expertise__slider-card-content">
                                    <h3 class="expertise__slider-card-title" data-text="Промышленность">
                                        <span class="expertise__slider-card-title-text">
                                            Промышленность
                                        </span>
                                    </h3>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="expertise__slider-card">
                                <div class="expertise__slider-card-image-wrapper">
                                    <img src="/images/expertise/expertise-1.png" alt="image" class="expertise__slider-card-image">
                                </div>
                                <div class="expertise__slider-card-content">
                                    <h3 class="expertise__slider-card-title" data-text="Финтех">
                                        <span class="expertise__slider-card-title-text">
                                            Финтех
                                        </span>
                                    </h3>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="expertise__slider-card">
                                <div class="expertise__slider-card-image-wrapper">
                                    <img src="/images/expertise/expertise-2.png" alt="image" class="expertise__slider-card-image">
                                </div>
                                <div class="expertise__slider-card-content">
                                    <h3 class="expertise__slider-card-title" data-text="ИТ - компании">
                                        <span class="expertise__slider-card-title-text">
                                            ИТ - компании
                                        </span>
                                    </h3>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="expertise__slider-card">
                                <div class="expertise__slider-card-image-wrapper">
                                    <img src="/images/expertise/expertise-3.png" alt="image" class="expertise__slider-card-image">
                                </div>
                                <div class="expertise__slider-card-content">
                                    <h3 class="expertise__slider-card-title" data-text="Транспорт и логистика">
                                        <span class="expertise__slider-card-title-text">
                                            Транспорт и логистика
                                        </span>
                                    </h3>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="expertise__slider-card">
                                <div class="expertise__slider-card-image-wrapper">
                                    <img src="/images/expertise/expertise-4.png" alt="image" class="expertise__slider-card-image">
                                </div>
                                <div class="expertise__slider-card-content">
                                    <h3 class="expertise__slider-card-title" data-text="Ритейл сети">
                                        <span class="expertise__slider-card-title-text">
                                            Ритейл сети
                                        </span>
                                    </h3>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="expertise__slider-card">
                                <div class="expertise__slider-card-image-wrapper">
                                    <img src="/images/expertise/expertise-5.png" alt="image" class="expertise__slider-card-image">
                                </div>
                                <div class="expertise__slider-card-content">
                                    <h3 class="expertise__slider-card-title" data-text="Сфера услуг">
                                        <span class="expertise__slider-card-title-text">
                                            Сфера услуг
                                        </span>
                                    </h3>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="expertise__slider-card">
                                <div class="expertise__slider-card-image-wrapper">
                                    <img src="/images/expertise/expertise-6.png" alt="image" class="expertise__slider-card-image">
                                </div>
                                <div class="expertise__slider-card-content">
                                    <h3 class="expertise__slider-card-title" data-text="Строительство и девелопмент">
                                        <span class="expertise__slider-card-title-text">
                                            Строительство и девелопмент
                                        </span>
                                    </h3>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="expertise__slider-card">
                                <div class="expertise__slider-card-image-wrapper">
                                    <img src="/images/expertise/expertise-7.png" alt="image" class="expertise__slider-card-image">
                                </div>
                                <div class="expertise__slider-card-content">
                                    <h3 class="expertise__slider-card-title" data-text="Импорт & Экспорт">
                                        <span class="expertise__slider-card-title-text">
                                            Импорт & Экспорт
                                        </span>
                                    </h3>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="expertise__slider-card">
                                <div class="expertise__slider-card-image-wrapper">
                                    <img src="/images/expertise/expertise-8.png" alt="image" class="expertise__slider-card-image">
                                </div>
                                <div class="expertise__slider-card-content">
                                    <h3 class="expertise__slider-card-title" data-text="Маркетинг и коммуникации">
                                        <span class="expertise__slider-card-title-text">
                                            Маркетинг и коммуникации
                                        </span>
                                    </h3>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="expertise__slider-card">
                                <div class="expertise__slider-card-image-wrapper">
                                    <img src="/images/expertise/expertise-9.png" alt="image" class="expertise__slider-card-image">
                                </div>
                                <div class="expertise__slider-card-content">
                                    <h3 class="expertise__slider-card-title" data-text="Оптовая торговля и дистрибуция">
                                        <span class="expertise__slider-card-title-text">
                                            Оптовая торговля и дистрибуция
                                        </span>
                                    </h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="expertise__text-slider">

            <div class="swiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="expertise__text-slider-card">
                            <div class="expertise__small-text">
                                Оптимизация бизнес-процессов и цепочек поставок. Интернационализация и юридическое сопровождение бизнеса
                            </div>
                            <a href="#" class="expertise__learn-more">
                                <span class="expertise__learn-more-text">
                                    Узнать больше
                                </span>
                                <span class="expertise__learn-more-arrow">
                                    <svg width="14" height="14" aria-hidden="true">
                                        <use xlink:href="#arrow-right"></use>
                                    </svg>
                                </span>
                            </a>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="expertise__text-slider-card">
                            <div class="expertise__small-text">
                                Банки, финансовые организации, инвестиционные фонды, страховые компании. Консалтинг и оптимизация управленческих процессов. Юридические решения и конструкции
                            </div>
                            <a href="#" class="expertise__learn-more">
                                <span class="expertise__learn-more-text">
                                    Узнать больше
                                </span>
                                <span class="expertise__learn-more-arrow">
                                    <svg width="14" height="14" aria-hidden="true">
                                        <use xlink:href="#arrow-right"></use>
                                    </svg>
                                </span>
                            </a>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="expertise__text-slider-card">
                            <div class="expertise__small-text">
                                Интеграторы, разработчики программного обеспечения, продуктовые компании. Разработка legal части для ИТ-компаний любого уровня, разработка финансовой и юридической инфраструктуры, подбор решений
                            </div>
                            <a href="#" class="expertise__learn-more">
                                <span class="expertise__learn-more-text">
                                    Узнать больше
                                </span>
                                <span class="expertise__learn-more-arrow">
                                    <svg width="14" height="14" aria-hidden="true">
                                        <use xlink:href="#arrow-right"></use>
                                    </svg>
                                </span>
                            </a>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="expertise__text-slider-card">
                            <div class="expertise__small-text">
                                Транспортные компании и логистические хабы, сопровождение  операций по всему миру. Сопровождение транснациональных операций, юридический и финансовый консалтинг
                            </div>
                            <a href="#" class="expertise__learn-more">
                                <span class="expertise__learn-more-text">
                                    Узнать больше
                                </span>
                                <span class="expertise__learn-more-arrow">
                                    <svg width="14" height="14" aria-hidden="true">
                                        <use xlink:href="#arrow-right"></use>
                                    </svg>
                                </span>
                            </a>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="expertise__text-slider-card">
                            <div class="expertise__small-text">
                                Торговые компании, e-commerce, юридическое сопровождение ВЭД и оптимизация процессов с цепочками поставок, юридический консалтинг в сфере ВЭД
                            </div>
                            <a href="#" class="expertise__learn-more">
                                <span class="expertise__learn-more-text">
                                    Узнать больше
                                </span>
                                <span class="expertise__learn-more-arrow">
                                    <svg width="14" height="14" aria-hidden="true">
                                        <use xlink:href="#arrow-right"></use>
                                    </svg>
                                </span>
                            </a>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="expertise__text-slider-card">
                            <div class="expertise__small-text">
                                Компании из сектора обслуживания, сетевые и франшизные предприятия. Юридические и финансовые  стратегии роста сетевых компаний из сферы услуг
                            </div>
                            <a href="#" class="expertise__learn-more">
                                <span class="expertise__learn-more-text">
                                    Узнать больше
                                </span>
                                <span class="expertise__learn-more-arrow">
                                    <svg width="14" height="14" aria-hidden="true">
                                        <use xlink:href="#arrow-right"></use>
                                    </svg>
                                </span>
                            </a>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="expertise__text-slider-card">
                            <div class="expertise__small-text">
                                Застройщики, девлоперские компании проектные и подрядные организации в области строительства
                            </div>
                            <a href="#" class="expertise__learn-more">
                                <span class="expertise__learn-more-text">
                                    Узнать больше
                                </span>
                                <span class="expertise__learn-more-arrow">
                                    <svg width="14" height="14" aria-hidden="true">
                                        <use xlink:href="#arrow-right"></use>
                                    </svg>
                                </span>
                            </a>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="expertise__text-slider-card">
                            <div class="expertise__small-text">
                                Торговые компании и операции связанные в внешнеэкономической деятельностью
                            </div>
                            <a href="#" class="expertise__learn-more">
                                <span class="expertise__learn-more-text">
                                    Узнать больше
                                </span>
                                <span class="expertise__learn-more-arrow">
                                    <svg width="14" height="14" aria-hidden="true">
                                        <use xlink:href="#arrow-right"></use>
                                    </svg>
                                </span>
                            </a>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="expertise__text-slider-card">
                            <div class="expertise__small-text">
                                Маркетинговые, рекламные  исследовательские агентства из индустрии коммуникаций.
                            </div>
                            <a href="#" class="expertise__learn-more">
                                <span class="expertise__learn-more-text">
                                    Узнать больше
                                </span>
                                <span class="expertise__learn-more-arrow">
                                    <svg width="14" height="14" aria-hidden="true">
                                        <use xlink:href="#arrow-right"></use>
                                    </svg>
                                </span>
                            </a>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="expertise__text-slider-card">
                            <div class="expertise__small-text">
                                Оптовые компании, дистрибьюторы различных сегментов и ниш товаров.
                            </div>
                            <a href="#" class="expertise__learn-more">
                                <span class="expertise__learn-more-text">
                                    Узнать больше
                                </span>
                                <span class="expertise__learn-more-arrow">
                                    <svg width="14" height="14" aria-hidden="true">
                                        <use xlink:href="#arrow-right"></use>
                                    </svg>
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>