<section class="expertise">
    <div class="expertise__content">
        <div class="expertise__top-row">
            <h2 class="expertise__small-heading">
                наша экспертиза
            </h2>
            <div class="expertise__large-text">
                Трансформация отраслей c помощью нашего адаптивного подхода в экспертизе и партнерстве
            </div>
        </div>

        <div class="expertise__slider">
            <div class="expertise__slider-inner">
                <div class="swiper">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="expertise__slider-card">
                                <div class="expertise__slider-card-image-wrapper">
                                    <img src="/images/expertise.webp" alt="" class="expertise__slider-card-image">
                                </div>
                                <div class="expertise__slider-card-content">
                                    <h3 class="expertise__slider-card-title" data-text="Промышленность">
                                        <span class="expertise__slider-card-title-text">
                                            Промышленность
                                        </span>
                                    </h3>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="expertise__slider-card">
                                <div class="expertise__slider-card-image-wrapper">
                                    <img src="/images/expertise.webp" alt="" class="expertise__slider-card-image">
                                </div>
                                <div class="expertise__slider-card-content">
                                    <h3 class="expertise__slider-card-title" data-text="Финтех">
                                        <span class="expertise__slider-card-title-text">
                                            Финтех
                                        </span>
                                    </h3>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="expertise__slider-card">
                                <div class="expertise__slider-card-image-wrapper">
                                    <img src="/images/expertise.webp" alt="" class="expertise__slider-card-image">
                                </div>
                                <div class="expertise__slider-card-content">
                                    <h3 class="expertise__slider-card-title" data-text="ИТ - компании">
                                        <span class="expertise__slider-card-title-text">
                                            ИТ - компании
                                        </span>
                                    </h3>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="expertise__slider-card">
                                <div class="expertise__slider-card-image-wrapper">
                                    <img src="/images/expertise.webp" alt="" class="expertise__slider-card-image">
                                </div>
                                <div class="expertise__slider-card-content">
                                    <h3 class="expertise__slider-card-title" data-text="Транспорт и логистика">
                                        <span class="expertise__slider-card-title-text">
                                            Транспорт и логистика
                                        </span>
                                    </h3>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="expertise__slider-card">
                                <div class="expertise__slider-card-image-wrapper">
                                    <img src="/images/expertise.webp" alt="" class="expertise__slider-card-image">
                                </div>
                                <div class="expertise__slider-card-content">
                                    <h3 class="expertise__slider-card-title" data-text="Сфера услуг">
                                        <span class="expertise__slider-card-title-text">
                                            Сфера услуг
                                        </span>
                                    </h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="expertise__text-slider">

            <div class="swiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="expertise__text-slider-card">
                            <div class="expertise__small-text">
                                Ручное и автоматизированное тестирование, нагрузочное тестирование информационных систем
                                оператора.
                                Ручное и автоматизированное тестирование, нагрузочное тестирование информационных систем
                                оператора.
                            </div>
                            <a href="#" class="expertise__learn-more">
                                <span class="expertise__learn-more-text">
                                    Узнать больше
                                </span>
                                <span class="expertise__learn-more-arrow">
                                    <svg width="14" height="14" aria-hidden="true">
                                        <use xlink:href="#arrow-right"></use>
                                    </svg>
                                </span>
                            </a>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="expertise__text-slider-card">
                            <div class="expertise__small-text">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic quod placeat quia. Illum
                                nihil dignissimos quod nulla blanditiis ipsum error.
                            </div>
                            <a href="#" class="expertise__learn-more">
                                <span class="expertise__learn-more-text">
                                    Узнать больше
                                </span>
                                <span class="expertise__learn-more-arrow">
                                    <svg width="14" height="14" aria-hidden="true">
                                        <use xlink:href="#arrow-right"></use>
                                    </svg>
                                </span>
                            </a>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="expertise__text-slider-card">
                            <div class="expertise__small-text">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Non labore reprehenderit
                                doloremque, officia cum laudantium id quos consequuntur nesciunt rerum! Unde sed tempora
                                laboriosam enim eveniet repudiandae atque dolore veritatis!
                            </div>
                            <a href="#" class="expertise__learn-more">
                                <span class="expertise__learn-more-text">
                                    Узнать больше
                                </span>
                                <span class="expertise__learn-more-arrow">
                                    <svg width="14" height="14" aria-hidden="true">
                                        <use xlink:href="#arrow-right"></use>
                                    </svg>
                                </span>
                            </a>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="expertise__text-slider-card">
                            <div class="expertise__small-text">
                                Ручное и автоматизированное тестирование, нагрузочное тестирование информационных систем
                                оператора.
                                Ручное и автоматизированное тестирование, нагрузочное тестирование информационных систем
                                оператора.
                            </div>
                            <a href="#" class="expertise__learn-more">
                                <span class="expertise__learn-more-text">
                                    Узнать больше
                                </span>
                                <span class="expertise__learn-more-arrow">
                                    <svg width="14" height="14" aria-hidden="true">
                                        <use xlink:href="#arrow-right"></use>
                                    </svg>
                                </span>
                            </a>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="expertise__text-slider-card">
                            <div class="expertise__small-text">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia magni delectus iste
                                consequuntur rem dolores tempore maiores, consectetur, aut vitae voluptate vel!
                                Voluptatum in, deleniti nobis qui aliquid sapiente harum tenetur exercitationem, quo
                                accusamus iste praesentium. Fuga iste beatae minus?
                            </div>
                            <a href="#" class="expertise__learn-more">
                                <span class="expertise__learn-more-text">
                                    Узнать больше
                                </span>
                                <span class="expertise__learn-more-arrow">
                                    <svg width="14" height="14" aria-hidden="true">
                                        <use xlink:href="#arrow-right"></use>
                                    </svg>
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>