<footer class="page-footer">
    <div class="page-footer__content">
        <a href="/" class="page-footer__logo">
            <img src="/images/logo-white.svg" alt="" class="page-footer__logo-image">
        </a>
        <div class="page-footer__wrapper">
            <div class="page-footer__info-blocks">
                <div class="page-footer__info-block page-footer__info-block--company">
                    <h3 class="page-footer__info-block-heading">
                        о компании
                    </h3>
                    <ul class="page-footer__info-list">
                        <li class="page-footer__info-list-item">
                            <a href="#" class="page-footer__info-link">
                                Услуги
                            </a>
                        </li>
                        <li class="page-footer__info-list-item">
                            <a href="#" class="page-footer__info-link">
                                Проекты
                            </a>
                        </li>
                        <li class="page-footer__info-list-item">
                            <a href="#" class="page-footer__info-link">
                                О компании
                            </a>
                        </li>
                        <li class="page-footer__info-list-item">
                            <a href="#" class="page-footer__info-link">
                                Контакты
                            </a>
                        </li>
                        <li class="page-footer__info-list-item">
                            <a href="#" class="page-footer__info-link">
                                Запрос предложения
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="page-footer__info-block page-footer__info-block--address">
                    <h3 class="page-footer__info-block-heading">
                        Адрес
                    </h3>
                    <div class="page-footer__info-address">
                        Малый Толмачевский пер, 6 стр. 1,<br> Москва, Россия, 119017
                    </div>

                </div>
                <div class="page-footer__info-block page-footer__info-block--contacts">
                    <h3 class="page-footer__info-block-heading">
                        Свяжитесь с нами
                    </h3>
                    <div class="page-footer__info-contacts">
                        <a href="tel:+78432703193" class="page-footer__info-contacts-link">
                            +7 (843) 270–31–93
                        </a>
                        <a href="mailto:independent@mail.ru" class="page-footer__info-contacts-link">
                            independent@mail.ru
                        </a>
                    </div>
                    <ul class="page-footer__social-list">
                        <li class="page-footer__social-list-item">
                            <a href="#" class="page-footer__social-link">
                                <svg width="14" height="14" aria-hidden="true">
                                    <use xlink:href="#telegram"></use>
                                </svg>
                            </a>
                        </li>
                        <li class="page-footer__social-list-item">
                            <a href="#" class="page-footer__social-link">
                                <svg width="14" height="14" aria-hidden="true">
                                    <use xlink:href="#vk"></use>
                                </svg>
                            </a>
                        </li>
                    </ul>

                </div>
            </div>
            <div class="page-footer__bottom-row">
                <div class="page-footer__copyright">
                    © 2023 «Независимый директор»
                </div>
                <a href="#" class="page-footer__policy">
                    Политика конфиденциальности
                </a>
                <a href="#" class="page-footer__made-by">
                    Сайт разработан
                    <img src="/images/mark-weber.svg" alt="">
                </a>
            </div>
        </div>
    </div>
</footer>