<header class="page-header">
    <div class="page-header__content">
        <a href="/" class="page-header__logo">
            <img src="/images/logo-white.svg" alt="" class="page-header__logo-image">
            <img src="/images/logo-dark.svg" alt="" class="page-header__logo-image">
        </a>
        <div class="page-header__menu" data-lenis-prevent="">
            <div class="page-header__languages">
                <button class="page-header__languages-current">
                    Ru
                    <svg width="14" height="14" aria-hidden="true">
                        <use xlink:href="#small-arrow-down"></use>
                    </svg>
                </button>
            </div>
            <nav class="page-header__nav">
                <ul class="page-header__nav-list">
                    <li class="page-header__nav-list-item">
                        <a href="#" class="page-header__nav-link">
                            Услуги
                        </a>
                    </li>
                    <li class="page-header__nav-list-item">
                        <a href="#" class="page-header__nav-link">
                            О компании
                        </a>
                    </li>
                    <li class="page-header__nav-list-item">
                        <a href="#" class="page-header__nav-link">
                            Проекты
                        </a>
                    </li>
                    <li class="page-header__nav-list-item">
                        <a href="#" class="page-header__nav-link">
                            Контакты
                        </a>
                    </li>
                    <li class="page-header__nav-list-item">
                        <a href="#" class="page-header__nav-link">
                            Запрос предложения
                        </a>
                    </li>
                </ul>
            </nav>
            <div class="page-header__phone">
                <div class="page-header__phone-text">
                    По любым вопросам
                </div>
                <a href="tel:+78432703193" class="page-header__phone-link">+7 (843) 270–31–93</a>
            </div>
            <ul class="page-header__social-list">
                <li class="page-header__social-list-item">
                    <a href="#" class="page-header__social-link">
                        <svg width="14" height="14" aria-hidden="true">
                            <use xlink:href="#telegram"></use>
                        </svg>
                    </a>
                </li>
                <li class="page-header__social-list-item">
                    <a href="#" class="page-header__social-link">
                        <svg width="14" height="14" aria-hidden="true">
                            <use xlink:href="#vk"></use>
                        </svg>
                    </a>
                </li>
            </ul>

        </div>
        <button class="page-header__burger">

        </button>
    </div>
</header>