<section class="history">
    <div class="history__content">
        <h2 class="history__small-heading">
            история
        </h2>
        <div class="history__slider">
            <div class="history__slider-main">
                <div class="swiper">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="history__slider-main-card">
                                <div class="history__slider-main-card-image-container">
                                    <img src="/images/history.webp" alt="" class="history__slider-main-card-image">
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="history__slider-main-card">
                                <div class="history__slider-main-card-image-container">
                                    <img src="/images/history.webp" alt="" class="history__slider-main-card-image">
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="history__slider-main-card">
                                <div class="history__slider-main-card-image-container">
                                    <img src="/images/history.webp" alt="" class="history__slider-main-card-image">
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="history__slider-main-card">
                                <div class="history__slider-main-card-image-container">
                                    <img src="/images/history.webp" alt="" class="history__slider-main-card-image">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="history__slider-text">
                <div class="history__slider-text-wrapper">
                    <div class="swiper">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <div class="history__slider-text-card">
                                    «Независимый директор» получил награду «За стратегическое банковское превосходство».
                                    На церемонии награждения были отмечены банки, продемонстрировавшие исключительную
                                    стратегическую проницательность.
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="history__slider-text-card">
                                    «Независимый директор» получил награду «За стратегическое банковское превосходство».
                                    На церемонии награждения были отмечены банки, продемонстрировавшие исключительную
                                    стратегическую проницательность.
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="history__slider-text-card">
                                    «Независимый директор» получил награду «За стратегическое банковское превосходство».
                                    На церемонии награждения были отмечены банки, продемонстрировавшие исключительную
                                    стратегическую проницательность.
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="history__slider-text-card">
                                    «Независимый директор» получил награду «За стратегическое банковское превосходство».
                                    На церемонии награждения были отмечены банки, продемонстрировавшие исключительную
                                    стратегическую проницательность.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="history__arrows">
                    <button class="history__arrow history__arrow--prev">
                        <svg width="14" height="14" aria-hidden="true">
                            <use xlink:href="#arrow-right"></use>
                        </svg>
                    </button>
                    <button class="history__arrow history__arrow--next">
                        <svg width="14" height="14" aria-hidden="true">
                            <use xlink:href="#arrow-right"></use>
                        </svg>
                    </button>
                </div>
            </div>
            <div class="history__slider-years">
                <div class="swiper">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="history__slider-years-card">
                                <div class="history__slider-years-card-text">
                                    2010
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="history__slider-years-card">
                                <div class="history__slider-years-card-text">
                                    2020
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="history__slider-years-card">
                                <div class="history__slider-years-card-text">
                                    2021
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="history__slider-years-card">
                                <div class="history__slider-years-card-text">
                                    2022
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>