<section class="numbers-block">
  <div class="numbers-block__content">
    <h2 class="numbers-block__small-heading">
      цифры
    </h2>
    <div class="numbers-block__large-text">
      Мы гордимся тем, что предоставили качественную  юридическую поддержку для проведения безопасной сделки
    </div>
    <ul class="numbers-block__list">
      <li class="numbers-block__list-item">
        <div class="numbers-block__card">
          <h3 class="numbers-block__card-title">
            +25%
          </h3>
          <div class="numbers-block__card-text">
            Рост среднего чека после внедрения сервиса
          </div>
        </div>
      </li>
      <li class="numbers-block__list-item">
        <div class="numbers-block__card">
          <h3 class="numbers-block__card-title">
            +113%
          </h3>
          <div class="numbers-block__card-text">
            Средний рост выручки с точки по итогам внедрения пилота
          </div>
        </div>
      </li>
      <li class="numbers-block__list-item">
        <div class="numbers-block__card">
          <h3 class="numbers-block__card-title">
            -99,7%
          </h3>
          <div class="numbers-block__card-text">
            Сократились случаев воровства и административных штрафов
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>