<section class="contact-us contact-us--dark">
    <div class="contact-us__ticker js-ticker">
        <div class="contact-us__ticker-track js-ticker-track">
            <div class="contact-us__ticker-inner-track js-ticker-inner-track">
                <div class="contact-us__ticker-item">
                    Заказать услугу&nbsp;&nbsp;&nbsp;&nbsp;
                </div>
            </div>
        </div>
    </div>
    <div class="contact-us__content">
        <h3 class="contact-us__form-title">
            Заказать услугу
        </h3>
        <div class="contact-us__tabs">
            <button class="contact-us__button-tab contact-us__button-tab--active" data-tab="request">Оставить заявку</button>
            <button class="contact-us__button-tab" data-tab="meeting">Записаться на встречу</button>
        </div>
        <form action="/" method="POST" class="contact-us__form contact-us__tab js-form" data-tab="request">
            <div class="contact-us__form-group">
                <div class="contact-us__form-group-content">
                    <h4 class="contact-us__form-large-text">
                        Оставьте заявку и наши эксперты свяжутся с вами
                    </h4>
                    <div class="contact-us__form-fields">
                        <div class="contact-us__form-field">
                            <div class="contact-us__form-field-wrapper">
                                <input type="text" class="contact-us__form-input" name="your-name" placeholder="ФИО *"
                                    required="">
                            </div>
                        </div>
                        <div class="contact-us__form-field">
                            <div class="contact-us__form-field-wrapper">
                                <input type="tel" class="contact-us__form-input" name="your-phone"
                                    placeholder="Телефон *" required="">
                            </div>
                        </div>
                        <div class="contact-us__form-field">
                            <div class="contact-us__form-field-wrapper">
                                <input type="text" class="contact-us__form-input" name="your-company"
                                    placeholder="Название организации *" required="">
                            </div>
                        </div>
                        <div class="contact-us__form-field">
                            <div class="contact-us__form-field-wrapper">
                                <input type="email" class="contact-us__form-input" name="your-email"
                                    placeholder="Ваша почта *" required="">
                            </div>
                        </div>
                        <div class="contact-us__form-field contact-us__form-field--fullwidth">
                            <div class="contact-us__form-field-wrapper">
                                <textarea name="your-comment" class="contact-us__form-input"
                                    placeholder="Ваше обращение"></textarea>
                            </div>
                        </div>

                    </div>
                    <div class="contact-us__form-policy-wrapper">
                        <button class="contact-us__form-submit" type="submit">
                            <span class="contact-us__form-submit-text-wrapper" data-text="Отправить заявку">
                                <span class="contact-us__form-submit-text">
                                    Отправить заявку
                                </span>
                            </span>
                        </button>
                        <div class="contact-us__form-policy">
                            Нажимая кнопку “Записаться” вы&nbsp;даёте согласие на&nbsp;<a href="#">обработку ваших
                                персональных
                                данных</a>
                            и&nbsp;соглашаетесь c <a href="#">политикой конфиденциальности</a>
                        </div>
                    </div>

                </div>
            </div>
        </form>

        <div class="contact-us__form contact-us__tab" data-tab="meeting">
            <div class="contact-us__form-group">
                <div class="contact-us__form-group-content">
                    <h4 class="contact-us__form-large-text">
                        Запишитесь самостоятельно на удобное время
                    </h4>
                    <button class="contact-us__form-submit">
                        <a  href="/#" class="contact-us__form-submit-text-wrapper" data-text="Отправить заявку">
                            <span class="contact-us__form-submit-text">
                                выбрать дату встречи
                            </span>
                        </a>
                    </button>
                </div>
            </div>
        </div>

    </div>
</section>