<section class="our-projects">
    <div class="our-projects__content">
        <div class="our-projects__top-row">
            <h2 class="our-projects__small-heading">
                Наши проекты
            </h2>
            <div class="our-projects__large-text">
                Опытные подходы и решения.<br>
                Как мы преобразуем бизнесы наших клиентов
            </div>
        </div>
        <div class="our-projects__slider">
            <div class="our-projects__slider-bg">
                <img src="/images/our-projects-slider.webp" alt="" class="our-projects__slider-bg-image">
            </div>
            <div class="our-projects__slider-inner">
                <div class="our-projects__slider-inner-row">


                    <div class="our-projects__slider-arrows">
                        <button class="our-projects__slider-arrow our-projects__slider-arrow--prev">
                            <svg width="14" height="14" aria-hidden="true">
                                <use xlink:href="#arrow-right"></use>
                            </svg>
                        </button>
                        <button class="our-projects__slider-arrow our-projects__slider-arrow--next">
                            <svg width="14" height="14" aria-hidden="true">
                                <use xlink:href="#arrow-right"></use>
                            </svg>
                        </button>
                    </div>
                    <div class="our-projects__slider-content">
                        <div class="swiper">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <div class="our-projects__slider-card">
                                        <div class="our-projects__slider-card-top-row">
                                            <div class="our-projects__slider-card-text-content">
                                                <div class="our-projects__slider-card-pagination">
                                                    01 — 04
                                                </div>
                                                <div class="our-projects__slider-card-text">
                                                    Защита интересов крупного поставщика нефтехимической продукции
                                                </div>
                                            </div>
                                            <div class="our-projects__slider-card-image-wrapper">
                                                <img src="/images/y.webp" alt=""
                                                    class="our-projects__slider-card-image">
                                            </div>
                                        </div>
                                        <a href="#" class="our-projects__slider-card-learn-more">
                                            <span class="our-projects__slider-card-learn-more-text-wrapper"
                                                data-text="Больше о Проекте">
                                                <span class="our-projects__slider-card-learn-more-text">
                                                    Больше о Проекте
                                                </span>
                                            </span>
                                        </a>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="our-projects__slider-card">
                                        <div class="our-projects__slider-card-top-row">
                                            <div class="our-projects__slider-card-text-content">
                                                <div class="our-projects__slider-card-pagination">
                                                    02 — 04
                                                </div>
                                                <div class="our-projects__slider-card-text">
                                                    Защита интересов крупного поставщика нефтехимической продукции
                                                </div>
                                            </div>
                                            <div class="our-projects__slider-card-image-wrapper">
                                                <img src="/images/y.webp" alt=""
                                                    class="our-projects__slider-card-image">
                                            </div>
                                        </div>
                                        <a href="#" class="our-projects__slider-card-learn-more">
                                            <span class="our-projects__slider-card-learn-more-text-wrapper"
                                                data-text="Больше о Проекте">
                                                <span class="our-projects__slider-card-learn-more-text">
                                                    Больше о Проекте
                                                </span>
                                            </span>
                                        </a>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="our-projects__slider-card">
                                        <div class="our-projects__slider-card-top-row">
                                            <div class="our-projects__slider-card-text-content">
                                                <div class="our-projects__slider-card-pagination">
                                                    03 — 04
                                                </div>
                                                <div class="our-projects__slider-card-text">
                                                    Защита интересов крупного поставщика нефтехимической продукции
                                                </div>
                                            </div>
                                            <div class="our-projects__slider-card-image-wrapper">
                                                <img src="/images/y.webp" alt=""
                                                    class="our-projects__slider-card-image">
                                            </div>
                                        </div>
                                        <a href="#" class="our-projects__slider-card-learn-more">
                                            <span class="our-projects__slider-card-learn-more-text-wrapper"
                                                data-text="Больше о Проекте">
                                                <span class="our-projects__slider-card-learn-more-text">
                                                    Больше о Проекте
                                                </span>
                                            </span>
                                        </a>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="our-projects__slider-card">
                                        <div class="our-projects__slider-card-top-row">
                                            <div class="our-projects__slider-card-text-content">
                                                <div class="our-projects__slider-card-pagination">
                                                    04 — 04
                                                </div>
                                                <div class="our-projects__slider-card-text">
                                                    Защита интересов крупного поставщика нефтехимической продукции
                                                </div>
                                            </div>
                                            <div class="our-projects__slider-card-image-wrapper">
                                                <img src="/images/y.webp" alt=""
                                                    class="our-projects__slider-card-image">
                                            </div>
                                        </div>
                                        <a href="#" class="our-projects__slider-card-learn-more">
                                            <span class="our-projects__slider-card-learn-more-text-wrapper"
                                                data-text="Больше о Проекте">
                                                <span class="our-projects__slider-card-learn-more-text">
                                                    Больше о Проекте
                                                </span>
                                            </span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="our-projects__slider-pagination">

                    </div>
                </div>
            </div>

        </div>
        <a href="#" class="our-projects__more-projects">
            <div class="our-projects__more-projects-text-wrapper" data-text="Все проекты">
                <div class="our-projects__more-projects-text">
                    Все проекты
                </div>
            </div>
        </a>
    </div>
</section>