<section class="our-advantage">
    <div class="our-advantage__content">
        <div class="our-advantage__author">
            <div class="our-advantage__author-image-container">
                <img src="/images/our-advantage-author.webp" alt="" class="our-advantage__author-image">
            </div>
            <div class="our-advantage__author-wrapper">
                <div class="our-advantage__author-role">
                    Founder
                </div>
                <div class="our-advantage__author-name">
                    Евгений Смирнов
                </div>
            </div>
        </div>
        <div class="our-advantage__large-text">
            «Наше преимущество — это комплексное управление проектами и помощь в выстраивании соответствующей функций
            внутри бизнеса»
        </div>
    </div>
</section>