<section class="our-projects-detail">
  <div class="our-projects-detail__content">
    <div class="our-projects-detail__block">
      <h2 class="our-projects-detail__small-heading">наши проекты</h2>
      <div class="our-projects-detail__arrows">
        <button class="our-projects-detail__arrow our-projects-detail__arrow--prev">
          <svg width="14" height="14" aria-hidden="true">
            <use xlink:href="#arrow-right"></use>
          </svg>
        </button>
        <button class="our-projects-detail__arrow our-projects-detail__arrow--next">
          <svg width="14" height="14" aria-hidden="true">
            <use xlink:href="#arrow-right"></use>
          </svg>
        </button>
      </div>
    </div>
    <div class="swiper our-projects-detail__swiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="our-projects-detail__slide">
            <div class="our-projects-detail__column">
              <div class="our-projects-detail__column-upper">
                <p class="our-projects-detail__counter"></p>
                <h3 class="our-projects-detail__slide-title">
                  Диагностика рисков и защитная стратегия для группы компаний по обелению сектора общепита
                  в России
                </h3>
              </div>
              <a href="/#" class="our-projects-detail__service-link">
                  Больше о Проекте
              </a>
            </div>
            <img src="/images/projects-detail/project-detail-header.png" alt="image" class="our-projects-detail__slide-image">
          </div>
        </div>
        <div class="swiper-slide">
          <div class="our-projects-detail__slide">
            <div class="our-projects-detail__column">
              <div class="our-projects-detail__column-upper">
                <p class="our-projects-detail__counter"></p>
                <h3 class="our-projects-detail__slide-title">
                  Защита интересов крупного поставщика нефтехимической продукции
                </h3>
              </div>
              <a href="/#" class="our-projects-detail__service-link">
                Больше о Проекте
              </a>
            </div>
            <img src="/images/projects-detail/project-detail-header.png" alt="image" class="our-projects-detail__slide-image">
          </div>
        </div>
        <div class="swiper-slide">
          <div class="our-projects-detail__slide">
            <div class="our-projects-detail__column">
              <div class="our-projects-detail__column-upper">
                <p class="our-projects-detail__counter"></p>
                <h3 class="our-projects-detail__slide-title">
                  Защита интересов крупного поставщика нефтехимической продукции
                </h3>
              </div>
              <a href="/#" class="our-projects-detail__service-link">
                Больше о Проекте
              </a>
            </div>
            <img src="/images/projects-detail/project-detail-header.png" alt="image" class="our-projects-detail__slide-image">
          </div>
        </div>
        <div class="swiper-slide">
          <div class="our-projects-detail__slide">
            <div class="our-projects-detail__column">
              <div class="our-projects-detail__column-upper">
                <p class="our-projects-detail__counter"></p>
                <h3 class="our-projects-detail__slide-title">
                  Защита интересов крупного поставщика нефтехимической продукции
                </h3>
              </div>
              <a href="/#" class="our-projects-detail__service-link">
                Больше о Проекте
              </a>
            </div>
            <img src="/images/projects-detail/project-detail-header.png" alt="image" class="our-projects-detail__slide-image">
          </div>
        </div>
      </div>
      <div class="pagination"></div>
    </div>
    <button class="our-projects-detail__button">
        <span class="our-project-detail__wrapper-text" data-text="Все проекты">
          <span class="our-project-detail__text">
            Все проекты
          </span>
        </span>
    </button>
  </div>
</section>