<section class="standard-header">
  <div class="standard-header__content">
      <div class="standard-header__breadcrumbs">
          <a href="/">
              Главная 
          </a>
          <a href="/services.html">
              Услуги
          </a>
          <a href="/services.html" class="active">
            xyz company
          </a>
      </div>
      <div class="standard-header__small-text text-date--active">
          <span class="spacer" >&nbsp;</span>
          Январь 2022 - Май 2023
      </div>
      <a href="#about-project-block" class="standard-header__scroll-down js-anchor">
          <svg width="14" height="14" aria-hidden="true">
              <use xlink:href="#arrow-down"></use>
          </svg>
      </a>
      <h1 class="standard-header__heading medium-header__heading">
        Диагностика рисков и защитная стратегия для группы компаний по обелению сектора общепита в России
      </h1>
  </div>
  <div class="standard-header__image-wrapper">
      <div class="standard-header__image-parallax">
          <img src="/images/projects-detail/project-detail-header.png" alt="" class="standard-header__image">
      </div>
  </div>
</section>