<section class="projects-catalog" id="projects" data-url="/projects.html">
    <div class="projects-catalog__content">
        <h2 class="projects-catalog__heading">
            наши проекты
        </h2>
        <div class="projects-catalog__wrapper">
            <ol class="projects-catalog__list">
                <li class="projects-catalog__list-item">
                    <a href="#" class="projects-catalog__card">
                        <div class="projects-catalog__card-left-col">
                            <div class="projects-catalog__card-image-container">
                                <img src="/images/projects-detail/project-detail-header.png" alt=""
                                    class="projects-catalog__card-image">
                            </div>
                        </div>
                        <div class="projects-catalog__card-right-col">
                            <div class="projects-catalog__card-text">
                                Защита интересов крупного поставщика нефтехимической продукции
                            </div>

                            <div class="projects-catalog__card-btn">
                                <div class="projects-catalog__card-btn-text-wrapper" data-text="Больше о Проекте">
                                    <div class="projects-catalog__card-btn-text">
                                        Больше о Проекте
                                    </div>
                                </div>
                            </div>
                            <!--                            <div class="projects-catalog__card-arrow">-->
                            <!--                                <svg width="14" height="14" aria-hidden="true">-->
                            <!--                                    <use xlink:href="#arrow-right"></use>-->
                            <!--                                </svg>-->
                            <!--                            </div>-->
                        </div>
                        <div class="projects-catalog__card-number">

                        </div>
                    </a>
                </li>
                <li class="projects-catalog__list-item">
                    <a href="#" class="projects-catalog__card">
                        <div class="projects-catalog__card-left-col">
                            <div class="projects-catalog__card-image-container">
                                <img src="/images/projects/project-1.png" alt="" class="projects-catalog__card-image">
                            </div>
                        </div>
                        <div class="projects-catalog__card-right-col">
                            <div class="projects-catalog__card-text">
                                Юридическое сопровождение продажи 50% доли в холдинговой компании из Китая
                            </div>

                            <div class="projects-catalog__card-btn">
                                <div class="projects-catalog__card-btn-text-wrapper" data-text="Больше о Проекте">
                                    <div class="projects-catalog__card-btn-text">
                                        Больше о Проекте
                                    </div>
                                </div>
                            </div>

                            <!--                            <div class="projects-catalog__card-arrow">-->
                            <!--                                <svg width="14" height="14" aria-hidden="true">-->
                            <!--                                    <use xlink:href="#arrow-right"></use>-->
                            <!--                                </svg>-->
                            <!--                            </div>-->
                        </div>
                        <div class="projects-catalog__card-number">

                        </div>
                    </a>
                </li>

                <li class="projects-catalog__list-item">
                    <a href="#" class="projects-catalog__card">
                        <div class="projects-catalog__card-left-col">
                            <div class="projects-catalog__card-image-container">
                                <img src="/images/projects/project-2.png" alt="" class="projects-catalog__card-image">
                            </div>
                        </div>
                        <div class="projects-catalog__card-right-col">
                            <div class="projects-catalog__card-text">
                                Защита интересов крупного поставщика нефтехимической продукции
                            </div>

                            <div class="projects-catalog__card-btn">
                                <div class="projects-catalog__card-btn-text-wrapper" data-text="Больше о Проекте">
                                    <div class="projects-catalog__card-btn-text">
                                        Больше о Проекте
                                    </div>
                                </div>
                            </div>

                            <!--                            <div class="projects-catalog__card-arrow">-->
                            <!--                                <svg width="14" height="14" aria-hidden="true">-->
                            <!--                                    <use xlink:href="#arrow-right"></use>-->
                            <!--                                </svg>-->
                            <!--                            </div>-->
                        </div>
                        <div class="projects-catalog__card-number">

                        </div>
                    </a>
                </li>
                <li class="projects-catalog__list-item">
                    <a href="#" class="projects-catalog__card">
                        <div class="projects-catalog__card-left-col">
                            <div class="projects-catalog__card-image-container">
                                <img src="/images/projects/project-3.png" alt="" class="projects-catalog__card-image">
                            </div>
                        </div>
                        <div class="projects-catalog__card-right-col">
                            <div class="projects-catalog__card-text">
                                Юридическое сопровождение продажи 50% доли в холдинговой компании из Китая
                            </div>

                            <div class="projects-catalog__card-btn">
                                <div class="projects-catalog__card-btn-text-wrapper" data-text="Больше о Проекте">
                                    <div class="projects-catalog__card-btn-text">
                                        Больше о Проекте
                                    </div>
                                </div>
                            </div>

                            <!--                            <div class="projects-catalog__card-arrow">-->
                            <!--                                <svg width="14" height="14" aria-hidden="true">-->
                            <!--                                    <use xlink:href="#arrow-right"></use>-->
                            <!--                                </svg>-->
                            <!--                            </div>-->
                        </div>
                        <div class="projects-catalog__card-number">

                        </div>
                    </a>
                </li>
                <li class="projects-catalog__list-item">
                    <a href="#" class="projects-catalog__card">
                        <div class="projects-catalog__card-left-col">
                            <div class="projects-catalog__card-image-container">
                                <img src="/images/projects-detail/project-detail-header.png" alt=""
                                    class="projects-catalog__card-image">
                            </div>
                        </div>
                        <div class="projects-catalog__card-right-col">
                            <div class="projects-catalog__card-text">
                                Формирование судебного прецедента, подтверждающего законность применения декларантом
                                таможенных льгот
                            </div>

                            <div class="projects-catalog__card-btn">
                                <div class="projects-catalog__card-btn-text-wrapper" data-text="Больше о Проекте">
                                    <div class="projects-catalog__card-btn-text">
                                        Больше о Проекте
                                    </div>
                                </div>
                            </div>

                            <!--                            <div class="projects-catalog__card-arrow">-->
                            <!--                                <svg width="14" height="14" aria-hidden="true">-->
                            <!--                                    <use xlink:href="#arrow-right"></use>-->
                            <!--                                </svg>-->
                            <!--                            </div>-->
                        </div>
                        <div class="projects-catalog__card-number">

                        </div>
                    </a>
                </li>
                <li class="projects-catalog__list-item">
                    <a href="#" class="projects-catalog__card">
                        <div class="projects-catalog__card-left-col">
                            <div class="projects-catalog__card-image-container">
                                <img src="/images/projects/project-4.png" alt="" class="projects-catalog__card-image">
                            </div>
                        </div>
                        <div class="projects-catalog__card-right-col">
                            <div class="projects-catalog__card-text">
                                Формирование судебного прецедента, подтверждающего законность применения декларантом
                                таможенных льгот
                            </div>

                            <div class="projects-catalog__card-btn">
                                <div class="projects-catalog__card-btn-text-wrapper" data-text="Больше о Проекте">
                                    <div class="projects-catalog__card-btn-text">
                                        Больше о Проекте
                                    </div>
                                </div>
                            </div>

                            <!--                            <div class="projects-catalog__card-arrow">-->
                            <!--                                <svg width="14" height="14" aria-hidden="true">-->
                            <!--                                    <use xlink:href="#arrow-right"></use>-->
                            <!--                                </svg>-->
                            <!--                            </div>-->
                        </div>
                        <div class="projects-catalog__card-number">

                        </div>
                    </a>
                </li>
            </ol>
            <a href="#" class="projects-catalog__more-projects">
                <div class="projects-catalog__more-projects-text-wrapper" data-text="Еще проекты">
                    <div class="projects-catalog__more-projects-text">
                        Еще проекты
                    </div>
                </div>
            </a>
        </div>
    </div>
</section>