<section class="recommend">
  <div class="recommend__content">
    <h3 class="recommend__heading">Мы предлагаем</h3>
    <div class="recommend__container">
      <h2 class="recommend__title">
        Независимый Директор — надежный партнер в решении сложных и ответственных задач
      </h2>
      <p class="recommend__text">
        В случае, если финансовые подразделения наших клиентов требуют большее количество ресурсов для развития ключевых бизнес-процессов, наша команда эффективно и безопасно реализует
        необходимые проекты, как самостоятельно, так и в проектной команде.
      </p>
      <div class="recommend__accord js-accord">
        <div class="accord__container">
          <button class="accord__button">
            <div class="accord__button-block">
              <span class="accord__num"></span>
              <h4 class="accord__title">Аутсорсинг бухгалтерского и налогового учета</h4>
            </div>
            <div class="accord__arrow">
              <svg width="14" height="14" aria-hidden="true">
                <use xlink:href="#arrow-right"></use>
              </svg>
            </div>
          </button>
          <div class="accord__content">
            <ul class="recommend__list">
              <li class="recommend__item">CFO аутсорсинг</li>
              <li class="recommend__item">Аутсорс бизнес процессов</li>
              <li class="recommend__item">Аутсорс правового обеспечения</li>
              <li class="recommend__item">Аутсорсинг бухгалтерского и налогового учета</li>
              <li class="recommend__item">CFO аутсорсинг</li>
              <li class="recommend__item">Аутсорс бизнес процессов</li>
              <li class="recommend__item">Аутсорс правового обеспечения</li>
              <li class="recommend__item">Аутсорсинг бухгалтерского и налогового учета</li>
            </ul>
          </div>
        </div>
        <div class="accord__container">
          <button class="accord__button">
            <div class="accord__button-block">
              <span class="accord__num"></span>
              <h4 class="accord__title">Аутсорсинг бизнес-процессов</h4>
            </div>
            <div class="accord__arrow">
              <svg width="14" height="14" aria-hidden="true">
                <use xlink:href="#arrow-right"></use>
              </svg>
            </div>
          </button>
          <div class="accord__content">
            <ul class="recommend__list">
              <li class="recommend__item">CFO аутсорсинг</li>
              <li class="recommend__item">Аутсорс бизнес процессов</li>
              <li class="recommend__item">Аутсорс правового обеспечения</li>
              <li class="recommend__item">Аутсорсинг бухгалтерского и налогового учета</li>
              <li class="recommend__item">CFO аутсорсинг</li>
              <li class="recommend__item">Аутсорс бизнес процессов</li>
              <li class="recommend__item">Аутсорс правового обеспечения</li>
              <li class="recommend__item">Аутсорсинг бухгалтерского и налогового учета</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>