<section class="request">
  <div class="request__content">
    <div class="request__breadcrumbs">
      <a href="/">
        Главная 
      </a>
      <a href="/projects.html" class="active">
        запрос предложения
      </a>
    </div>
    <div class="request__small-text">
      <span class="spacer">&nbsp;</span>
      Оставьте контактные данные и мы подготовим для вас коммерческое предложение
    </div>
    <h1 class="request__heading large-header__heading">
      Запрос предложения
    </h1>
  </div>
</section>