<div class="request__form-block">
  <div class="request__form-content">
    <h3 class="request__form-heading">Ваши контактные</h3>
    <form action="/#" class="request__form js-form" novalidate="">
      <div class="request__form-wrapper-content">
        <div class="request__form-field">
          <label class="request__form-field-wrapper">
            <input type="text" class="request__form-input" name="name" placeholder="ФИО *" required/>
          </label>
        </div>
        <div class="request__form-field">
          <label class="request__form-field-wrapper">
            <input type="email" class="request__form-input" name="email" placeholder="Ваша почта *" required/>
          </label>
        </div>
        <div class="request__form-field">
          <label class="request__form-input-wrapper">
            <input type="tel" class="request__form-input" name="phone" placeholder="Телефон *" required/>
          </label>
        </div>
        <div class="request__form-field">
          <label class="request__form-input-wrapper">
            <input type="text" class="request__form-input" name="your-company" placeholder="Название организации *" required/>
          </label>
        </div>
        <div class="request__form-field">
          <label class="request__form-field-wrapper-textarea">
            <input type="text" class="request__form-input request__form-textarea" name="your-comment" placeholder="Напишите свой запрос" required/>
          </label>
        </div>
      </div>

      <div class="request__down">
        <label class="request__form-file-upload js-file-upload">
          <input type="file" class="request__form-file-upload-input">
          <span class="request__form-file-upload-text js-file-upload-text">
            Прикрепить файл
          </span>
          <span class="request__form-file-upload-plus">
            <svg width="14" height="14" aria-hidden="true">
              <use xlink:href="#plus"></use>
            </svg>
          </span>
        </label>
        <div class="request__form-policy">
          Нажимая кнопку “Записаться” вы даёте согласие на <a href="#">обработку ваших персональных
          данных</a>
          и соглашаетесь c <a href="#">политикой конфиденциальности</a>
        </div>
      </div>

      <button class="request__form-submit" type="submit">
        <span class="request__form-submit-text-wrapper" data-text="Отправить заявку">
          <span class="request__form-submit-text">
            Отправить заявку
          </span>
        </span>
      </button>
    </form>
  </div>
</div>