<section class="reviews top">
  <div class="reviews__content">
    <div class="reviews__top-row">
      <h2 class="reviews__small-heading">
        Отзывы
      </h2>
      <div class="reviews__large-text">
        Обратная связь от наших клиентов. Как наша поддержка повлияла на&nbsp;бизнес процессы
      </div>
    </div>
    <div class="reviews__bottom-row">
      <div class="reviews__arrows">
        <button class="reviews__arrow reviews__arrow--prev">
          <svg width="14" height="14" aria-hidden="true">
            <use xlink:href="#arrow-right"></use>
          </svg>
        </button>
        <button class="reviews__arrow reviews__arrow--next">
          <svg width="14" height="14" aria-hidden="true">
            <use xlink:href="#arrow-right"></use>
          </svg>
        </button>
      </div>
      <div class="reviews__slider">
        <div class="reviews__slider-wrapper">
          <div class="swiper">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <div class="reviews__slider-card">
                  <div class="reviews__slider-card-author">
                    <img src="/images/author.webp" alt="" class="reviews__slider-card-author-image">
                  </div>
                  <div class="reviews__slider-card-content">
                    <div class="reviews__slider-card-pagination">
                      01 — 04
                    </div>
                    <div class="reviews__slider-card-text">
                      Зафиксированная на каком-либо материальном носителе человеческая мысль; в
                      общем
                      плане связная и полная последовательность символов. Зафиксированная на
                      каком-либо материальном носителе человеческая мысль; в общем плане связная и
                      полная последовательность символов.
                    </div>
                    <div class="reviews__slider-card-bottom-row">
                      <div class="reviews__slider-card-author-info">
                        <div class="reviews__slider-card-author-name">
                          Гаврилова Анна
                        </div>
                        <div class="reviews__slider-card-author-role">
                          Ген.директор ООО “Юрист”
                        </div>
                      </div>
                      <img src="/images/smart.svg" alt=""
                           class="reviews__slider-card-company-logo">
                    </div>
                  </div>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="reviews__slider-card">
                  <div class="reviews__slider-card-author">
                    <img src="/images/author.webp" alt="" class="reviews__slider-card-author-image">
                  </div>
                  <div class="reviews__slider-card-content">
                    <div class="reviews__slider-card-pagination">
                      02 — 04
                    </div>
                    <div class="reviews__slider-card-text">
                      Зафиксированная на каком-либо материальном носителе человеческая мысль; в
                      общем
                      плане связная и полная последовательность символов. Зафиксированная на
                      каком-либо материальном носителе человеческая мысль; в общем плане связная и
                      полная последовательность символов.
                    </div>
                    <div class="reviews__slider-card-bottom-row">
                      <div class="reviews__slider-card-author-info">
                        <div class="reviews__slider-card-author-name">
                          Гаврилова Анна
                        </div>
                        <div class="reviews__slider-card-author-role">
                          Ген.директор ООО “Юрист”
                        </div>
                      </div>
                      <img src="/images/smart.svg" alt=""
                           class="reviews__slider-card-company-logo">
                    </div>
                  </div>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="reviews__slider-card">
                  <div class="reviews__slider-card-author">
                    <img src="/images/author.webp" alt="" class="reviews__slider-card-author-image">
                  </div>
                  <div class="reviews__slider-card-content">
                    <div class="reviews__slider-card-pagination">
                      03 — 04
                    </div>
                    <div class="reviews__slider-card-text">
                      Зафиксированная на каком-либо материальном носителе человеческая мысль; в
                      общем
                      плане связная и полная последовательность символов. Зафиксированная на
                      каком-либо материальном носителе человеческая мысль; в общем плане связная и
                      полная последовательность символов.
                    </div>
                    <div class="reviews__slider-card-bottom-row">
                      <div class="reviews__slider-card-author-info">
                        <div class="reviews__slider-card-author-name">
                          Гаврилова Анна
                        </div>
                        <div class="reviews__slider-card-author-role">
                          Ген.директор ООО “Юрист”
                        </div>
                      </div>
                      <img src="/images/smart.svg" alt=""
                           class="reviews__slider-card-company-logo">
                    </div>
                  </div>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="reviews__slider-card">
                  <div class="reviews__slider-card-author">
                    <img src="/images/author.webp" alt="" class="reviews__slider-card-author-image">
                  </div>
                  <div class="reviews__slider-card-content">
                    <div class="reviews__slider-card-pagination">
                      04 — 04
                    </div>
                    <div class="reviews__slider-card-text">
                      Зафиксированная на каком-либо материальном носителе человеческая мысль; в
                      общем
                      плане связная и полная последовательность символов. Зафиксированная на
                      каком-либо материальном носителе человеческая мысль; в общем плане связная и
                      полная последовательность символов.
                    </div>
                    <div class="reviews__slider-card-bottom-row">
                      <div class="reviews__slider-card-author-info">
                        <div class="reviews__slider-card-author-name">
                          Гаврилова Анна
                        </div>
                        <div class="reviews__slider-card-author-role">
                          Ген.директор ООО “Юрист”
                        </div>
                      </div>
                      <img src="/images/smart.svg" alt=""
                           class="reviews__slider-card-company-logo">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
        <div class="reviews__slider-pagination">

        </div>
      </div>
    </div>
  </div>
</section>