<section class="services">
    <div class="services__content">
        <h2 class="services__small-heading">
            наши направления
        </h2>
        <div class="services__wrapper">
            <ol class="services__list">
                <li class="services__list-item">
                    <a href="#" class="services__card">
                        <div class="services__card-top-row">
                            <div class="services__card-title-wrapper">
                                <div class="services__card-title-wrapper-inner">
                                    <h3 class="services__card-title">
                                        Аутсорс налоговой, юридической и&nbsp;финансовой функции
                                    </h3>
                                </div>
                            </div>
                            <div class="services__card-arrow">
                                <svg width="14" height="14" aria-hidden="true">
                                    <use xlink:href="#arrow-right"></use>
                                </svg>
                            </div>
                        </div>
                        <div class="services__card-content">
                            <div class="services__card-content-inner">
                                <div class="services__card-text">
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat, ipsum!
                                </div>
                            </div>
                        </div>
                    </a>
                </li>
                <li class="services__list-item">
                    <a href="#" class="services__card">
                        <div class="services__card-top-row">
                            <div class="services__card-title-wrapper">
                                <div class="services__card-title-wrapper-inner">
                                    <h3 class="services__card-title">
                                        Налогововое и&nbsp;юридическое консультирование
                                    </h3>
                                </div>
                            </div>
                            <div class="services__card-arrow">
                                <svg width="14" height="14" aria-hidden="true">
                                    <use xlink:href="#arrow-right"></use>
                                </svg>
                            </div>
                        </div>
                        <div class="services__card-content">
                            <div class="services__card-content-inner">
                                <div class="services__card-text">
                                    Функциональное, интеграционное, регрессионное, автоматизированное тестирование
                                    систем
                                    банка. Разработка, актуализация и внедрение корпоративных стратегий
                                </div>
                            </div>
                        </div>
                    </a>
                </li>
                <li class="services__list-item">
                    <a href="#" class="services__card">
                        <div class="services__card-top-row">
                            <div class="services__card-title-wrapper">
                                <div class="services__card-title-wrapper-inner">
                                    <h3 class="services__card-title">
                                        Стратегический консалтинг
                                    </h3>
                                </div>
                            </div>
                            <div class="services__card-arrow">
                                <svg width="14" height="14" aria-hidden="true">
                                    <use xlink:href="#arrow-right"></use>
                                </svg>
                            </div>
                        </div>
                        <div class="services__card-content">
                            <div class="services__card-content-inner">
                                <div class="services__card-text">
                                    Функциональное, интеграционное, регрессионное, автоматизированное тестирование
                                    систем
                                    банка. Разработка, актуализация и внедрение корпоративных стратегий
                                </div>
                            </div>
                        </div>
                    </a>
                </li>
                <li class="services__list-item">
                    <a href="#" class="services__card">
                        <div class="services__card-top-row">
                            <div class="services__card-title-wrapper">
                                <div class="services__card-title-wrapper-inner">
                                    <h3 class="services__card-title">
                                        Сопровождение сделок M&A
                                    </h3>
                                </div>
                            </div>
                            <div class="services__card-arrow">
                                <svg width="14" height="14" aria-hidden="true">
                                    <use xlink:href="#arrow-right"></use>
                                </svg>
                            </div>
                        </div>
                        <div class="services__card-content">
                            <div class="services__card-content-inner">
                                <div class="services__card-text">
                                    Функциональное, интеграционное, регрессионное, автоматизированное тестирование
                                    систем
                                    банка. Разработка, актуализация и внедрение корпоративных стратегий
                                </div>
                            </div>
                        </div>
                    </a>
                </li>
                <li class="services__list-item">
                    <a href="#" class="services__card">
                        <div class="services__card-top-row">
                            <div class="services__card-title-wrapper">
                                <div class="services__card-title-wrapper-inner">
                                    <h3 class="services__card-title">
                                        Трансферное ценообразование
                                    </h3>
                                </div>
                            </div>
                            <div class="services__card-arrow">
                                <svg width="14" height="14" aria-hidden="true">
                                    <use xlink:href="#arrow-right"></use>
                                </svg>
                            </div>
                        </div>
                        <div class="services__card-content">
                            <div class="services__card-content-inner">
                                <div class="services__card-text">
                                    Функциональное, интеграционное, регрессионное, автоматизированное тестирование
                                    систем
                                    банка. Разработка, актуализация и внедрение корпоративных стратегий
                                </div>
                            </div>
                        </div>
                    </a>
                </li>
            </ol>
            <a href="#" class="services__learn-more">
                <h3 class="services__learn-more-title">
                    Все направления
                </h3>
                <div class="services__learn-more-text">
                    Узнать больше о наших направлениях
                </div>
                <div class="services__learn-more-arrow">
                    <svg width="14" height="14" aria-hidden="true">
                        <use xlink:href="#arrow-right"></use>
                    </svg>
                </div>
            </a>
        </div>

    </div>
</section>