<section class="standard-header">
    <div class="standard-header__content">
        <div class="standard-header__breadcrumbs">
            <a href="/">
                Главная 
            </a>
            <a href="/services.html" class="active">
                Услуги
            </a>
        </div>
        <div class="standard-header__small-text">
            <span class="spacer">&nbsp;</span>
            Зафиксированная на каком-либо материальном носителе человеческая мысль; в&nbsp;общем плане связная
            и&nbsp;полная последовательность символов.
        </div>
        <a href="#services" class="standard-header__scroll-down js-anchor">
            <svg width="14" height="14" aria-hidden="true">
                <use xlink:href="#arrow-down"></use>
            </svg>
        </a>
        <h1 class="standard-header__heading">
            Услуги
            <span class="standard-header__heading-count">
                (05)
            </span>
        </h1>
    </div>
    <div class="standard-header__image-wrapper">
        <div class="standard-header__image-parallax">
            <img src="/images/services.webp" alt="" class="standard-header__image">
        </div>
    </div>
</section>