<section class="standard-header">
  <div class="standard-header__content">
    <div class="standard-header__breadcrumbs">
      <a href="/">
        Главная 
      </a>
      <a href="/projects.html">
        Услуги
      </a>
      <a href="/projects.html" class="active">
        Аутсорс налоговой, ...
      </a>
    </div>
    <div class="standard-header__small-text">
      <span class="spacer">&nbsp;</span>
    </div>
    <a href="#projects" class="standard-header__scroll-down js-anchor">
      <svg width="14" height="14" aria-hidden="true">
        <use xlink:href="#arrow-down"></use>
      </svg>
    </a>
    <h1 class="standard-header__heading medium-large-header__heading">
      Аутсорс налоговой, юридической, финансовой функции
      <span class="standard-header__heading-count">
            </span>
    </h1>
  </div>
  <div class="standard-header__image-wrapper">
    <div class="standard-header__image-parallax">
      <img src="/images/service-detail/intro-image.png" alt="image" class="standard-header__image">
    </div>
  </div>
</section>