<div class="success js-modal" data-lenis-prevent="" id="callback-success">
    <div class="success__inner">
        <button class="success__close js-modal-close">
            <svg width="14" height="14" aria-hidden="true">
                <use xlink:href="#cross"></use>
            </svg>
        </button>
        <h3 class="success__heading">
            Спасибо! Ваши данные успешно отправлены
        </h3>
        <div class="success__text">
            Менеджер свяжется c вами в ближайшее время, чтобы обсудить детали
        </div>
        <button class="success__back-btn js-modal-close">
            <span class="success__back-btn-text-wrapper">
                <span class="success__back-btn-text">
                    Вернуться на главную
                </span>
                <span class="success__back-btn-text">
                    Вернуться на главную
                </span>
            </span>
        </button>
    </div>
</div>