<section class="tasks">
    <div class="tasks__ticker js-ticker">
        <div class="tasks__ticker-track js-ticker-track">
            <div class="tasks__ticker-inner-track js-ticker-inner-track">
                <div class="tasks__ticker-item">
                    Save finance to invest&nbsp;&nbsp;
                </div>
            </div>
        </div>
    </div>
    <div class="tasks__content">
        <div class="tasks__grid">
            <h2 class="tasks__small-heading">
                Задачи
            </h2>
            <div class="tasks__large-text">
                <span class="spacer">&nbsp;</span>
                Примеры задач, которые мы решаем для клиентов
            </div>
            <div class="tasks__text-slider">
                <div class="swiper">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="tasks__text-slider-card">
                                <div class="tasks__text-slider-card-pagination">
                                    01 — 04
                                </div>
                                <h3 class="tasks__text-slider-card-title">
                                    Интернационализировать логистический бизнес
                                </h3>
                                <div class="tasks__text-slider-card-text">
                                    Провести анализ и исследование международного права и подобрать оптимальную
                                    юрисдикцию для открытия 3-х офисов компании
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="tasks__text-slider-card">
                                <div class="tasks__text-slider-card-pagination">
                                    02 — 04
                                </div>
                                <h3 class="tasks__text-slider-card-title">
                                    Интернационализировать логистический бизнес
                                </h3>
                                <div class="tasks__text-slider-card-text">
                                    Провести анализ и исследование международного права и подобрать оптимальную
                                    юрисдикцию для открытия 3-х офисов компании
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="tasks__text-slider-card">
                                <div class="tasks__text-slider-card-pagination">
                                    03 — 04
                                </div>
                                <h3 class="tasks__text-slider-card-title">
                                    Интернационализировать логистический бизнес
                                </h3>
                                <div class="tasks__text-slider-card-text">
                                    Провести анализ и исследование международного права и подобрать оптимальную
                                    юрисдикцию для открытия 3-х офисов компании
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="tasks__text-slider-card">
                                <div class="tasks__text-slider-card-pagination">
                                    04 — 04
                                </div>
                                <h3 class="tasks__text-slider-card-title">
                                    Интернационализировать логистический бизнес
                                </h3>
                                <div class="tasks__text-slider-card-text">
                                    Провести анализ и исследование международного права и подобрать оптимальную
                                    юрисдикцию для открытия 3-х офисов компании
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tasks__image-slider">
                <div class="swiper">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="tasks__image-slider-card">
                                <img src="/images/tasks.webp" alt="" class="tasks__image-slider-card-image">
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="tasks__image-slider-card">
                                <img src="/images/tasks.webp" alt="" class="tasks__image-slider-card-image">
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="tasks__image-slider-card">
                                <img src="/images/tasks.webp" alt="" class="tasks__image-slider-card-image">
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="tasks__image-slider-card">
                                <img src="/images/tasks.webp" alt="" class="tasks__image-slider-card-image">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>