<section class="team">
    <div class="team__content">
        <h2 class="team__small-heading">
            наша команда
        </h2>
        <div class="team__slider">
            <div class="swiper">
                <ul class="swiper-wrapper team__list">
                    <li class="swiper-slide team__list-item">
                        <div class="team__card">
                            <div class="team__card-image-container">
                                <img src="/images/team/1.webp" alt="" class="team__card-image">
                            </div>
                            <div class="team__card-role">
                                Founder
                            </div>
                            <h3 class="team__card-name">
                                Евгений
                                Смирнов
                            </h3>
                        </div>
                    </li>
                    <li class="swiper-slide team__list-item">
                        <div class="team__card">
                            <div class="team__card-image-container">
                                <img src="/images/team/2.webp" alt="" class="team__card-image">
                            </div>
                            <div class="team__card-role">
                                Co-founder
                            </div>
                            <h3 class="team__card-name">
                                Константин
                                Василевский
                            </h3>
                        </div>
                    </li>
                    <li class="swiper-slide team__list-item">
                        <div class="team__card">
                            <div class="team__card-image-container">
                                <img src="/images/team/3.webp" alt="" class="team__card-image">
                            </div>
                            <div class="team__card-role">
                                Co-founder
                            </div>
                            <h3 class="team__card-name">
                                Елена
                                Логинова
                            </h3>
                        </div>
                    </li>
                    <li class="swiper-slide team__list-item">
                        <div class="team__card">
                            <div class="team__card-image-container">
                                <img src="/images/team/4.webp" alt="" class="team__card-image">
                            </div>
                            <div class="team__card-role">
                                Аналитик
                            </div>
                            <h3 class="team__card-name">
                                Роман
                                Некрасов
                            </h3>
                        </div>
                    </li>
                    <li class="swiper-slide team__list-item">
                        <div class="team__card">
                            <div class="team__card-image-container">
                                <img src="/images/team/5.webp" alt="" class="team__card-image">
                            </div>
                            <div class="team__card-role">
                                Менеджер
                            </div>
                            <h3 class="team__card-name">
                                Александра
                                Михайлова
                            </h3>
                        </div>
                    </li>

                    <li class="swiper-slide team__list-item">
                        <a href="#" class="team__career-link">
                            <div class="team__career-link-image-wrapper">
                                <img src="/images/circle-with-plus.svg" alt="" class="team__career-link-image">
                                <div class="team__career-link-content">
                                    <div class="team__career-link-text">
                                        Стать частью<br> нашей команды
                                    </div>
                                </div>
                            </div>

                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>