.contact-us {
  @include blockWrapper;
  grid-row-gap: sf(28rem);
  margin-bottom: sf(24rem);

  @include breakpoint(mobile) {
    margin-bottom: sf(11rem);
    grid-row-gap: sf(11rem);
  }

  &--dark {
    margin: 0;
    padding-bottom: sf(15.8rem);
    padding-top: sf(25rem);
    background-color: var(--dark-text);
    color: var(--light-text);

    @include breakpoint(mobile) {
      padding: sf(11rem) 0;
      padding-bottom: sf(10rem);
      margin: 0;
    }
  }
}

.contact-us__ticker {
  grid-column: 1 / -1;
}

.contact-us__content {
  @include blockContent;
  display: flex;
  flex-direction: column;

  @include desktopGrid;
}

.contact-us__form-title {
  font-size: sf(1.8rem);
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  letter-spacing: sf(0.036rem);
  text-transform: uppercase;

  grid-column: 1 / 3;

  @include breakpoint(mobile) {
    display: none;
  }
}

.contact-us__tabs {
  grid-column: 4 / 10;
  display: flex;
  justify-content: flex-end;
  column-gap: sf(6rem);

  margin-bottom: sf(13rem);

  @include breakpoint(mobile) {
    display: flex;
    flex-direction: column;
    row-gap: sf(1rem);
    margin-bottom: sf(6rem);
  }
}

.contact-us__button-tab {
  font-size: sf(4.2rem);
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  letter-spacing: sf(-0.043rem);
  opacity: .4;
  width: fit-content;
  position: relative;

  @include breakpoint(mobile) {
    font-size: sf(2rem);
    font-style: normal;
    font-weight: 400;
    line-height: 110%;
    letter-spacing: -0.2px;
  }

}

.contact-us__button-tab--active {
  opacity: 1;
  &::before {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: sf(.2rem);
    background: rgba(255, 255, 255, 0.2);
    bottom: sf(-1rem);
  }

}



.contact-us__ticker {
  position: relative;
}

.contact-us__ticker-track {
  display: flex;
  align-items: center;
}

.contact-us__ticker-inner-track {
  display: flex;
  align-items: center;
  flex-shrink: 0;
}

.contact-us__ticker-inner-track.opacity {
  opacity: .5;
}

.contact-us__ticker-item {
  font-size: sf(20rem);
  font-style: normal;
  font-weight: 400;
  line-height: 90%;
  letter-spacing: sf(-0.8rem);
  white-space: nowrap;
  flex-shrink: 0;

  @include breakpoint(mobile) {
    font-size: sf(5.6rem);
    font-style: normal;
    font-weight: 400;
    line-height: 90%;
    letter-spacing: sf(-0.224rem);
  }
}

.contact-us__form {
  display: flex;
  flex-direction: column;
  gap: sf(13rem);

  grid-column: 2 / 12;

  @include breakpoint(mobile) {
    gap: sf(8rem);
  }
}

.contact-us__form-group {
  @include desktopGrid;


  @include breakpoint(mobile) {
    display: flex;
    flex-direction: column;
    gap: sf(2.2rem);
  }
}

.contact-us__form-group-title {
  grid-column: 1 / 4;
  align-self: flex-start;
  justify-self: flex-start;
  font-size: sf(1.8rem);
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  letter-spacing: sf(0.036rem);
  text-transform: uppercase;

  @include breakpoint(mobile) {
    grid-column: 1 / -1;
    font-size: sf(1.4rem);
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    letter-spacing: sf(0.028rem);
    text-transform: uppercase;

    .contact-us--dark & {
      display: none;
    }

    br {
      display: none;
    }
  }
}

.contact-us__form-group-content {
  grid-column: 4 / -1;
  display: flex;
  flex-direction: column;
  gap: sf(7.6rem);

  @include breakpoint(mobile) {
    grid-column: 1 / -1;
    gap: sf(4rem);
  }
}

.contact-us__form-fields {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  grid-gap: sf(17.5rem);
  grid-row-gap: sf(4.4rem);
  margin-top: sf(-3rem);

  @include breakpoint(mobile) {
    margin: 0;
    grid-template-columns: minmax(0, 1fr);
    grid-gap: sf(1.8rem);
  }
}

.contact-us__form-field--fullwidth {
  grid-column: 1 / -1;
}

.contact-us__form-input {
  display: block;
  width: 100%;
  font-size: sf(3.8rem);
  font-style: normal;
  font-weight: 400;
  line-height: 90%;
  letter-spacing: sf(-0.038rem);
  padding: sf(2.4rem) 0;
  color: var(--dark-text);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  height: auto;
  transition: border-color 0.2s;

  &::placeholder {
    color: rgba(0, 0, 0, 0.4);
  }

  &:focus {
    border-color: var(--dark-text);
  }

  .contact-us--dark & {
    color: var(--light-text);
    border-color: rgba(255, 255, 255, 0.4);
    &::placeholder {
      color: rgba(255, 255, 255, 0.4);
    }

    &:focus {
      border-color: var(--light-text);
    }
  }

  &.not-valid {
    border-color: #da0000 !important;
  }

  @include breakpoint(mobile) {
    font-size: sf(1.8rem);
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    padding: sf(1.6rem) 0;
  }
}

textarea.contact-us__form-input {
  resize: none;
  height: sf(20rem);
  display: block;

  @include breakpoint(mobile) {
    height: sf(5.4rem);
  }
}

.contact-us__form-policy-wrapper {
  display: flex;
  align-items: center;
  gap: sf(6rem);

  @include breakpoint(mobile) {
    flex-direction: column;
    align-items: stretch;
    gap: sf(1.5rem);
    display: contents;
  }
}

.contact-us__form-file-upload {
  position: relative;
  padding: sf(2.7rem);
  border-radius: sf(1.2rem);
  border: 1px dashed rgba(0, 0, 0, 0.25);
  width: sf(60rem);
  display: flex;
  align-items: center;

  @media (hover: hover) {
    &:hover {
      .contact-us__form-file-upload-plus {
        background-color: var(--dark-text);
        border-color: var(--dark-text);

        svg {
          fill: var(--light-text);
        }
      }
    }
  }

  @include breakpoint(mobile) {
    width: auto;
    border-radius: sf(1rem);
    padding: sf(1.5rem) sf(2rem);
  }
}

.contact-us__form-file-upload-input {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}

.contact-us__form-file-upload-text {
  width: 30%;
  flex-grow: 1;
  padding: 0 sf(2rem);
  font-size: sf(1.8rem);
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  letter-spacing: sf(0.036rem);
  text-transform: uppercase;

  @include breakpoint(mobile) {
    padding-left: 0;
    padding-right: sf(2.7rem);
    font-size: sf(1.4rem);
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    letter-spacing: sf(0.028rem);
    text-transform: uppercase;
  }
}

.contact-us__form-file-upload-plus {
  width: sf(5.6rem);
  height: sf(5.6rem);
  display: grid;
  place-items: center;
  border: 1px solid rgba(0, 0, 0, 0.25);
  border-radius: 50%;
  flex-shrink: 0;
  transition: background-color 0.2s, border-color 0.2s;
  svg {
    width: sf(1.6rem);
    height: sf(1.6rem);
    fill: rgba(0, 0, 0, 0.25);
    transition: fill 0.2s;
  }

  @include breakpoint(mobile) {
    width: sf(3.4rem);
    height: sf(3.4rem);

    svg {
      width: sf(1.2rem);
      height: sf(1.2rem);
    }
  }
}

.contact-us__form-policy {
  font-size: sf(1.8rem);
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  letter-spacing: sf(-0.018rem);
  width: sf(48rem);
  a {
    color: rgba(0, 0, 0, 0.25);
    transition: color 0.2s, text-decoration-color 0.2s;
    text-decoration: underline;
    text-decoration-color: transparent;
    @media (hover: hover) {
      &:hover {
        text-decoration-color: rgba(0, 0, 0, 0.25);
      }
    }
  }

  .contact-us--dark & {
    a {
      color: rgba(255, 255, 255, 0.4);
      &:link,
      &:visited {
        color: rgba(255, 255, 255, 0.4);
      }

      @media (hover: hover) {
        &:hover {
          text-decoration-color: rgba(255, 255, 255, 0.4);
        }
      }
    }
  }

  @include breakpoint(mobile) {
    font-size: sf(1.2rem);
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    letter-spacing: sf(-0.012rem);
    order: 20;
    margin-top: sf(-2.5rem);
    width: auto;
  }
}

.contact-us__form-submit {
  font-size: sf(1.8rem);
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
  letter-spacing: 0.018rem;
  text-transform: uppercase;
  padding: sf(4.4rem);
  text-align: center;
  display: block;
  border-radius: sf(1.2rem);
  color: var(--light-text);
  background: var(--dark-text);

  .contact-us--dark & {
    border: 1px solid rgba(255, 255, 255, 0.4);
    background: transparent;
    color: var(--light-text);
    width: sf(60rem);
    @include breakpoint(mobile) {
      width: 100%;
    }
  }

  @media (hover: hover) {
    &:hover {
      .contact-us__form-submit-text-wrapper::after {
        transform: translateY(-100%);
      }

      .contact-us__form-submit-text {
        transform: translateY(-100%);
      }
    }
  }

  @include breakpoint(mobile) {
    font-size: sf(1.4rem);
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    letter-spacing: sf(0.028rem);
    text-transform: uppercase;
    padding: sf(2.4rem);
    border-radius: sf(0.6rem);
    order: 14;
    margin-top: sf(2rem);
  }
}

.contact-us__form-submit-text-wrapper {
  display: block;
  position: relative;
  overflow: hidden;
  &::after {
    content: attr(data-text);
    position: absolute;
    left: 0;
    top: 100%;
    width: 100%;
    height: auto;
    transition: transform 0.4s;
  }
}

.contact-us__form-submit-text {
  transition: transform 0.4s;
  display: block;
}

.contact-us__form-field-select {
  position: relative;
}

.contact-us__form-field-select-btn {
  display: flex;
  align-items: center;
  gap: sf(2rem);
  width: 100%;
  text-align: left;
  padding: sf(3.2rem) 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  color: rgba(0, 0, 0, 0.4);
  svg {
    flex-shrink: 0;
    width: sf(3.4rem);
    height: sf(3.4rem);
    fill: currentColor;
    transition: transform 0.2s, fill 0.2s;
  }

  @include breakpoint(mobile) {
    font-size: sf(1.8rem);
    font-style: normal;
    font-weight: 400;
    line-height: 130%;
    padding: sf(1.6rem) 0;

    svg {
      width: sf(2.8rem);
      height: sf(2.8rem);
    }
  }
}

.contact-us__form-field-select.active .contact-us__form-field-select-btn {
  svg {
    transform: rotate(180deg);
  }
}

.contact-us__form-field-select-btn-text {
  width: 30%;
  flex-grow: 1;
  font-size: sf(3.8rem);
  font-style: normal;
  font-weight: 400;
  line-height: 90%;
  letter-spacing: sf(-0.038rem);

  transition: color 0.2s;

  @include breakpoint(mobile) {
    font-size: sf(1.8rem);
    font-style: normal;
    font-weight: 400;
    line-height: 130%;
    letter-spacing: 0;
  }
}

.contact-us__form-field-select:has(
    .contact-us__form-field-select-checkbox-input:checked
  )
  .contact-us__form-field-select-btn {
  color: var(--dark-text);
}

.contact-us__form-field-select-dropdown {
  position: absolute;
  left: 0;
  top: 100%;
  width: 100%;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s, visibility 0s linear 0.3s;
  margin-top: -1px;
  z-index: 60;
  .contact-us__form-field-select.active & {
    opacity: 1;
    visibility: inherit;
    transition: opacity 0.3s, visibility 0.3s;
  }
}

.contact-us__form-field-select-dropdown-inner {
  background-color: var(--light-text);
  color: var(--dark-text);
  display: flex;
  flex-direction: column;
  padding: sf(4rem);
  gap: sf(4rem);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 0px 0px sf(1.2rem) sf(1.2rem);

  @include breakpoint(mobile) {
    padding: sf(1.8rem);
    gap: sf(1.6rem);
    border-radius: 0px 0px sf(0.6rem) sf(0.6rem);
  }
}

.contact-us__form-field-select-checkbox {
  user-select: none;
  cursor: pointer;
  display: block;

  &:last-child {
    .contact-us__form-field-select-checkbox-text {
      border: none;
    }
  }

  @media (hover: hover) {
    &:hover {
      .contact-us__form-field-select-checkbox-input:not(:checked)
        ~ .contact-us__form-field-select-checkbox-text {
        color: rgba(0, 0, 0, 0.4);
      }
    }
  }
}

.contact-us__form-field-select-checkbox-input {
  display: none;
}

.contact-us__form-field-select-checkbox-text {
  font-size: sf(3.8rem);
  font-style: normal;
  font-weight: 400;
  line-height: 90%;
  letter-spacing: sf(-0.038rem);
  text-decoration: underline;
  text-decoration-color: transparent;
  transition: text-decoration-color 0.2s, color 0.2s;
  @include breakpoint(mobile) {
    font-size: sf(1.8rem);
    font-style: normal;
    font-weight: 400;
    line-height: 130%;
  }
}

.contact-us__form-field-select-checkbox-input:checked
  ~ .contact-us__form-field-select-checkbox-text {
  text-decoration-color: var(--dark-text);
}

.contact-us__form-large-text {
  font-size: sf(8rem);
  font-style: normal;
  font-weight: 400;
  line-height: 110%;
  letter-spacing: sf(-0.24rem);
  margin-bottom: sf(6rem);
  margin-top: -0.2em;

  @include breakpoint(mobile) {
    font-size: sf(3.2rem);
    font-style: normal;
    font-weight: 400;
    line-height: 110%;
    letter-spacing: sf(-0.032rem);
    margin-bottom: 0;
  }
}
