.our-goal {
  @include blockWrapper;
  background: #f6f6f6;
  margin-bottom: sf(23rem);

  @include breakpoint(mobile) {
    margin-bottom: sf(11rem);
  }
}

.our-goal__content {
  @include blockContent;
  padding: sf(13rem) 0;

  display: grid;
  grid-template-columns: repeat(12, minmax(0, 1fr));
  grid-gap: 2rem;
  align-items: flex-start;
  align-content: flex-start;
  grid-row-gap: sf(8.5rem);

  @include breakpoint(mobile) {
    display: flex;
    flex-direction: column;
    gap: 0;
    padding: sf(8rem) 0;
    align-items: stretch;
  }
}

.our-goal__small-heading {
  font-size: sf(1.8rem);
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  letter-spacing: sf(0.036rem);
  text-transform: uppercase;
  grid-column: 1 / 4;

  @include breakpoint(mobile) {
    font-size: sf(1.4rem);
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    letter-spacing: sf(0.028rem);
    text-transform: uppercase;
    grid-column: 1 / -1;
    margin-bottom: sf(4rem);
  }
}

.our-goal__large-text {
  grid-column: 4 / -1;
  font-size: sf(8rem);
  font-style: normal;
  font-weight: 400;
  line-height: 110%;
  letter-spacing: sf(-0.24rem);
  margin-top: -0.2em;

  .lineParent {
    padding-bottom: 0.15em;
    margin-bottom: -0.15em;
  }
  @include breakpoint(mobile) {
    font-size: sf(3.2rem);
    font-style: normal;
    font-weight: 400;
    line-height: 110%;
    letter-spacing: sf(-0.032rem);
    grid-column: 1 / -1;
    margin-bottom: sf(6rem);
  }
}

.our-goal__slider {
  grid-column: 4 / 12;

  @include breakpoint(mobile) {
    grid-column: 1 / -1;
  }

  .swiper {
    overflow: visible;
  }

  .swiper-slide {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-right: sf(8.5rem);

    @include breakpoint(mobile) {
      margin-right: sf(2rem);
    }
    &:last-child {
      margin-right: 0;
    }
  }
}

.our-goal__arrows {
  display: flex;
  align-items: center;
  gap: sf(1.2rem);
  justify-content: flex-end;
  margin-bottom: sf(6rem);
  @include breakpoint(mobile) {
    display: none;
  }
}

.our-goal__arrow {
  flex-shrink: 0;
  display: inline-grid;
  place-items: center;
  width: sf(6.4rem);
  height: sf(6.4rem);
  border: 1px solid rgba(0, 0, 0, 0.4);
  border-radius: 50%;
  transition: opacity 0.2s, background-color 0.2s, border-color 0.2s;

  svg {
    width: sf(2.5rem);
    height: sf(2.5rem);
    fill: rgba(0, 0, 0, 0.4);
    transition: fill 0.2s;
  }

  &.swiper-button-disabled {
    opacity: 0.5;
    cursor: default;
  }

  &--prev {
    svg {
      transform: scaleX(-1);
    }
  }
  &:not(.swiper-button-disabled) {
    @media (hover: hover) {
      &:hover {
        border-color: rgba(0, 0, 0, 1);
        svg {
          fill: rgba(0, 0, 0, 1);
        }
      }
    }
  }
}

.our-goal__slider-card {
  display: grid;
  grid-template-columns: 1fr auto;
  grid-gap: sf(4rem);
  padding: sf(4rem);
  border-radius: sf(1.2rem);
  background: #fff;
  min-height: sf(42rem);
  flex-grow: 1;
  @include breakpoint(mobile) {
    padding: sf(2rem);
    border-radius: sf(1rem);
    display: grid;
    grid-template-columns: minmax(0, 1fr) auto;
    grid-gap: sf(2rem);
    grid-row-gap: sf(4rem);
    padding-bottom: sf(4rem);
    min-height: sf(34rem);
    grid-template-areas: "pagination image" "heading heading" "text text";
  }
}

.our-goal__slider-card-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: sf(2rem);

  @include breakpoint(mobile) {
    display: contents;
  }
}

.our-goal__slider-card-pagination {
  font-size: sf(1.8rem);
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  letter-spacing: sf(0.036rem);
  text-transform: uppercase;
  margin-bottom: sf(3.8rem);

  @include breakpoint(mobile) {
    font-size: sf(1.4rem);
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    grid-area: pagination;
  }
}

.our-goal__slider-bottom {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.our-goal__slider-card-title {
  font-size: sf(4.2rem);
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  letter-spacing: sf(-0.042rem);
  margin-bottom: sf(3rem);

  @include breakpoint(mobile) {
    margin: 0;
    font-size: sf(2.6rem);
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    letter-spacing: sf(-0.026rem);
    grid-area: heading;
  }
}

.our-goal__slider-card-text {
  margin-top: auto;
  font-size: sf(2.4rem);
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  max-width: sf(70rem);

  @include breakpoint(mobile) {
    font-size: sf(1.6rem);
    font-style: normal;
    font-weight: 400;
    line-height: 110%;
    letter-spacing: sf(-0.016rem);
    width: 100%;
    position: relative;
  }
}

.our-goal__slider-card-image-container {
  flex-shrink: 0;
  position: relative;
  width: sf(15rem);
  align-self: flex-start;

  @include breakpoint(mobile) {
    width: sf(6.3rem);
    grid-area: image;
  }

  &::before {
    content: "";
    display: block;
    padding-bottom: 100%;
  }
}

.our-goal__slider-card-image {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.our-goal__slider-pagination {
  display: none;
  margin-top: 25px;

  @include breakpoint(mobile) {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    gap: sf(1.3rem);
    .swiper-pagination-bullet {
      width: sf(0.8rem);
      height: sf(0.8rem);
      flex-shrink: 0;
      border-radius: 50%;
      background-color: rgba(0, 0, 0, 0.6);
      margin-top: sf(2.5rem);
      transition: background-color 0.2s;
      &.swiper-pagination-bullet-active {
        background-color: rgba(0, 0, 0, 1);
      }
    }
  }
}
