.page-header {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: auto;
  z-index: 50;
  color: var(--light-text);
  @include blockWrapper;

  &--dark {
    color: var(--dark-text);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);

    @include breakpoint(mobile) {
      border: none;
    }
  }
}

.page-header__content {
  @include blockContent;
  display: flex;
  align-items: center;
  padding: sf(3rem) 0;

  @include breakpoint(mobile) {
    padding: sf(2rem) 0;
  }
}

.page-header__logo {
  flex-shrink: 0;
  position: relative;
  width: sf(19.4rem);
  margin-right: sf(7rem);

  @include breakpoint(mobile) {
    margin-right: auto;
    width: sf(15.8rem);
    position: relative;
    z-index: 80;
  }
}

.page-header__logo-image {
  display: block;
  width: 100%;
  height: auto;
  transition: opacity 0.2s;
}

.page-header__logo-image:nth-child(2) {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: auto;
  opacity: 0;
}

.page-header--dark .page-header__logo-image {
  &:nth-child(1) {
    opacity: 0;
  }

  &:nth-child(2) {
    opacity: 1;
  }
}

body.menu-open .page-header__logo-image {
  &:nth-child(1) {
    opacity: 0;
  }

  &:nth-child(2) {
    opacity: 2;
  }
}

.page-header__menu {
  display: contents;

  @include breakpoint(mobile) {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    -webkit-overflow-scrolling: touch;
    z-index: 70;
    background-color: #fff;
    color: var(--dark-text);
    padding: 0 var(--content-padding);
    padding-top: sf(10rem);
    padding-bottom: sf(3rem);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.4s, visibility 0s linear 0.4s;
    overscroll-behavior-y: contain;
    overflow-y: auto;

    body:not(.loaded) & {
      display: none;
    }

    .menu-open & {
      opacity: 1;
      visibility: inherit;
      transition: opacity 0.4s, visibility 0.4s;
    }
  }
}

.page-header__languages {
  flex-shrink: 0;
  margin-right: sf(15.8rem);
  position: relative;

  @include breakpointMF(small-tablet) {
    &:hover {
      .page-header__languages-dropdown {
        opacity: 1;
        visibility: inherit;
        transition: opacity 0.4s, visibility 0.4s;
      }

      .page-header__languages-current svg {
        transform: rotate(180deg);
      }
    }
  }

  @include breakpoint(mobile) {
    display: flex;
    align-items: center;
    margin: 0;
    flex-shrink: 1;
    flex-wrap: wrap;
    gap: sf(1.6rem);
    margin-bottom: sf(5rem);
  }
}

.page-header__languages-dropdown {
  @include breakpointMF(small-tablet) {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 100%;
    z-index: 10;
    padding-top: sf(0.8rem);
    transition: opacity 0.4s, visibility 0s linear 0.4s;
    opacity: 0;
    visibility: hidden;
  }

  @include breakpoint(mobile) {
    display: contents;
  }
}

.page-header__languages-dropdown-inner {
  @include breakpointMF(small-tablet) {
    padding: sf(1rem) 0;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    border: 1px solid rgba(0, 0, 0, 0.1);
    color: var(--dark-text);
    border-radius: sf(0.6rem);
  }

  @include breakpoint(mobile) {
    display: contents;
  }
}

.page-header__languages-link {
  @include breakpointMF(small-tablet) {
    font-size: sf(1.8rem);
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    letter-spacing: sf(-0.018rem);
    display: block;
    text-align: center;
    text-decoration: underline;
    text-decoration-color: transparent;
    transition: color 0.2s, text-decoration-color 0.2s;
    padding: sf(1rem) sf(2rem);
    @media (hover: hover) {
      &:hover {
        text-decoration-color: var(--dark-text);
      }
    }
  }

  @include breakpoint(mobile) {
    font-size: sf(2rem);
    font-style: normal;
    font-weight: 400;
    line-height: 110%;
    letter-spacing: sf(-0.02rem);
    color: var(--dark-text);
    &:link,
    &:visited {
      color: var(--dark-text);
    }
  }
}

.page-header__languages-current {
  @include breakpointMF(small-tablet) {
    display: flex;
    align-items: center;
    font-size: sf(2rem);
    font-style: normal;
    font-weight: 400;
    line-height: 130%;
    gap: sf(0.6rem);
    color: var(--light-text);
    transition: color 0.2s;
    svg {
      flex-shrink: 0;
      fill: var(--light-text);
      transition: fill 0.2s, transform 0.2s;
      width: sf(0.8rem);
      height: sf(0.5rem);
    }

    .page-header--dark & {
      color: var(--dark-text);

      svg {
        fill: var(--dark-text);
      }
    }
  }

  @include breakpoint(mobile) {
    font-size: sf(2rem);
    font-style: normal;
    font-weight: 400;
    line-height: 110%;
    letter-spacing: sf(-0.02rem);
    color: rgba(0, 0, 0, 0.4);

    &:link,
    &:visited {
      color: rgba(0, 0, 0, 0.4);
    }

    svg {
      display: none;
    }
  }
}

.page-header__nav {
  flex-shrink: 0;
  margin-left: auto;
  margin-right: sf(11.2rem);

  @include breakpoint(mobile) {
    margin: 0;
    flex-shrink: 1;
    margin-bottom: sf(5rem);
    order: -10;
  }
}

.page-header__nav-list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: sf(3rem);

  @include breakpoint(mobile) {
    flex-direction: column;
    flex-wrap: nowrap;
    gap: sf(1.6rem);
    align-items: stretch;
  }
}

.page-header__nav-list-item {
  flex-shrink: 0;

  @include breakpoint(mobile) {
    flex-shrink: 1;
  }
}

.page-header__nav-link {
  display: block;
  font-size: sf(2rem);
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
  color: var(--light-text);
  transition: color 0.3s;
  overflow: hidden;
  position: relative;
  &:link,
  &:visited {
    color: var(--light-text);
  }

  &::after {
    content: attr(data-text);
    position: absolute;
    left: 0;
    top: 100%;
    width: 100%;
    height: auto;
    transition: transform 0.3s;
  }

  .page-header--dark & {
    color: var(--dark-text);
    &:link,
    &:visited {
      color: var(--dark-text);
    }
  }

  @media (hover: hover) {
    &:hover {
      &::after {
        transform: translateY(-100%);
      }

      .page-header__nav-link-text {
        transform: translateY(-100%);
      }
    }
  }

  @include breakpoint(mobile) {
    font-size: sf(3.2rem);
    font-style: normal;
    font-weight: 400;
    line-height: 110%;
    letter-spacing: sf(-0.032rem);
    color: var(--dark-text);
    &:link,
    &:visited {
      color: var(--dark-text);
    }
  }
}

.page-header__nav-link-text {
  display: block;
  transition: transform 0.3s;
}

.page-header__phone {
  flex-shrink: 0;
  margin-right: sf(9rem);

  @include breakpoint(mobile) {
    margin: 0;
    flex-shrink: 1;
    display: flex;
    flex-direction: column;
    gap: sf(1.4rem);
    margin-bottom: sf(4rem);
  }
}

.page-header__phone-text {
  display: none;

  @include breakpoint(mobile) {
    display: block;
    font-size: sf(1.6rem);
    font-style: normal;
    font-weight: 400;
    line-height: 130%;
  }
}

.page-header__phone-link {
  display: block;
  font-size: sf(2rem);
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
  color: var(--light-text);
  position: relative;
  overflow: hidden;

  &:link,
  &:visited {
    color: var(--light-text);
  }

  .page-header--dark & {
    color: var(--dark-text);
    &:link,
    &:visited {
      color: var(--dark-text);
    }
  }

  &::after {
    content: attr(data-text);
    position: absolute;
    left: 0;
    top: 100%;
    width: 100%;
    height: auto;
    transition: transform 0.3s;
  }

  @media (hover: hover) {
    &:hover {
      &::after {
        transform: translateY(-100%);
      }

      .page-header__phone-link-text {
        transform: translateY(-100%);
      }
    }
  }

  @include breakpoint(mobile) {
    font-size: sf(3.2rem);
    font-style: normal;
    font-weight: 400;
    line-height: 110%;
    letter-spacing: sf(-0.032rem);
    color: var(--dark-text);

    &:link,
    &:visited {
      color: var(--dark-text);
    }
  }
}

.page-header__phone-link-text {
  transition: transform 0.3s;
  display: block;
}

.page-header__social-list {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  gap: sf(0.6rem);

  @include breakpoint(mobile) {
    gap: sf(0.8rem);
    flex-wrap: wrap;
  }
}

.page-header__social-list-item {
  flex-shrink: 0;
}

.page-header__social-link {
  display: grid;
  place-items: center;
  width: sf(5rem);
  height: sf(5rem);
  border-radius: 50%;
  transition: background-color 0.2s, border-color 0.2s;
  border: 1px solid rgba(255, 255, 255, 0.2);
  svg {
    display: block;
    width: 100%;
    height: 100%;
    fill: var(--light-text);
    transition: fill 0.2s;
  }

  @media (hover: hover) {
    &:hover {
      border-color: var(--light-text);
      background-color: var(--light-text);
      svg {
        fill: var(--dark-text);
      }
    }
  }

  .page-header--dark & {
    border: 1px solid rgba(0, 0, 0, 0.25);
    svg {
      fill: var(--dark-text);
    }

    @media (hover: hover) {
      &:hover {
        background-color: var(--dark-text);
        border-color: var(--dark-text);
        svg {
          fill: var(--light-text);
        }
      }
    }
  }

  @include breakpoint(mobile) {
    width: sf(6rem);
    height: sf(6rem);
    border-color: rgba(0, 0, 0, 0.2);
    svg {
      width: sf(5rem);
      height: sf(5rem);
      fill: var(--dark-text);
    }
  }
}

.page-header__burger {
  display: none;

  @include breakpoint(mobile) {
    width: 40px;
    height: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2px;
    border-radius: 50%;
    border: 1px solid rgba(255, 255, 255, 0.2);
    position: relative;
    z-index: 80;
    transition: border-color 0.2s;
    &::before,
    &::after {
      content: "";
      flex-shrink: 0;
      height: 1px;
      width: 26px;
      background-color: var(--light-text);
      transition: background-color 0.2s, transform 0.2s;
    }

    .page-header--dark & {
      border-color: rgba(0, 0, 0, 0.1);
      &::before,
      &::after {
        background-color: var(--dark-text);
      }
    }
  }
}

body.menu-open .page-header__burger {
  border-color: rgba(0, 0, 0, 0.3);

  &::before,
  &::after {
    background-color: var(--dark-text);
  }

  &::before {
    transform: translateY(1.5px) rotate(45deg);
  }
  &::after {
    transform: translateY(-1.5px) rotate(-45deg);
  }
}
